<!-- Imports --><!--{{{-->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../AuxiliarMethods/data-clients.html">
<!--}}}-->

<dom-module id="clients-list">
  <template><!--{{{-->
    <style include="iron-flex iron-flex-alignment">/*{{{*/
      a{
        color: inherit;
        text-decoration: none;

        // Usado para aumentar a área de click do item, antes tinha que clicar no nome.
        display: block;
        width: 85%;
      }
      paper-icon-button.delete{
        padding: 0;
        right: 0;
      }
      .userItem{
        display: flex;
        justify-content: space-between;
      }
      paper-button#addButton{
        @apply(--layout-vertical);
        background-color: rgba(255, 190, 51, 0.95);
        color: #fff;
      }
      paper-spinner[active]{
        display: flex;
        margin-top: 40vh;
        --paper-spinner-layer-1-color: #ffc137;
        --paper-spinner-layer-2-color: #3bbab5;
        --paper-spinner-layer-3-color: #ffc137;
        --paper-spinner-layer-4-color: #3bbab5;
      }
      paper-item{
        border-bottom: 1px solid #ddd;
      }
      paper-listbox{
        padding: 0;
      }
      paper-fab {
        --paper-fab-background: var(--app-primary-color);
        position: absolute;
        bottom: 1em;
        right: 1em;
      }
      p{
        text-align: center;
      }
    </style><!--}}}-->
    <div class="layout vertical">
      <paper-spinner class="layout self-center" active="{{loading}}"></paper-spinner>
    </div>

    <!-- Lista de clientes {{{ -->
    <data-clients empty={{emptyList}} loading={{loading}}
    data="{{clients}}"></data-clients>

    <template is="dom-if" if="{{!loading}}">
      <template is="dom-repeat" items="{{clients}}" as="client">
        <paper-listbox selectable="none">
            <paper-item data-analytics data-category="Item aluno" class="userItem">
             <a href="/user/sessions?a={{client.$key}}" >
                <iron-icon icon="social:person"></iron-icon>
                <span>{{client.name}}</span>
              </a>
            <paper-icon-button class="delete" on-tap="openDeleteDialog" icon="delete"></paper-icon-button>
            </paper-item>
        </paper-listbox>
      </template>

      <template is="dom-if" if="{{emptyList}}">
        <p style="text-align: center;">Nenhum cliente encontrado.</p>
      </template>

      <paper-fab
        icon="social:person-add"
        on-tap="openAddDialog"
        data-analytics
        data-category="Adiciona aluno"
        aria-label="Adicionar aluno">
      </paper-fab>
      <!-- <paper-button id="addButton" on-tap="openAddDialog" raised> + Cliente </paper-button> -->
    </template><!--}}}-->

    <!-- Dialog falando que excedeu o número de alunos. {{{ -->
    <paper-dialog id="tooMuchClients" style="overflow: auto;" data-analytics data-category="Dialogo excedeu limite de alunos">
      <paper-dialog-scrollable>
        <h2 style="text-align: center;">Atualize seu plano</h2>

        <p>Que bom que você está aumentando seu número de alunos.</p>
        <p>
          Para adicionar seu aluno novo atualize seu pacote em 
          <a href="/account/payments" style="padding: 6px 4px;">
            <iron-icon icon="icons:payment">
            </iron-icon><span style="font-weight: bold;">Pagamentos.</span>
          </a>
        </p>

      </paper-dialog-scrollable>

    </paper-dialog ><!--}}}-->

    <!-- Dialog para adicionar novo item {{{ -->
    <paper-dialog id="addDialog" style="overflow: auto;" data-analytics data-category="Dialogo novo aluno">
      <paper-dialog-scrollable>
        <h2 style="text-align: center;">Novo Cliente</h2>

        <paper-input autofocus required auto-validate error-message="Campo obrigatório"
        id="name" label="Nome"
        type="text" value="{{newItemName}}"></paper-input>

        <paper-textarea label="Observações sobre seu cliente"
        value="{{newItemObs}}"></paper-textarea>
      </paper-dialog-scrollable>

      <div class="buttons">
        <paper-button dialog-dismiss>Cancelar</paper-button>
        <paper-button on-tap="addClient">Adicionar</paper-button>
      </div>
    </paper-dialog ><!--}}}-->

    <!-- Dialog para deletar item {{{ -->
    <paper-dialog id="deleteDialog" style="overflow: auto;" data-analytics data-category="Dialogo deletar aluno">
      <h3>Deletar cliente {{selectedItem.name}}?</h3>
      <div class="buttons">
        <paper-button dialog-dismiss autofocus>Cancelar</paper-button>
        <paper-button dialog-confirm on-tap="deleteClient">Deletar</paper-button>
      </div >
    </paper-dialog ><!--}}}-->

  </template><!--}}}-->

  <script>//{{{
    Polymer({
      is: 'clients-list',

      openAddDialog: function(){//{{{
        firebase.database().ref('trainer/'+firebase.auth().currentUser.uid
        +'/perfil/allowed-clients-number').once('value', function(snap){
          var actualClientsNumber = Object.keys(this.clients).length
          var allowedClientsNumber = snap.val()

          if(allowedClientsNumber >= actualClientsNumber+1){ // Pode adicionar
            this.$.addDialog.open();
          }else{ // Não pode.
            this.$.tooMuchClients.open();
          }
        }, this);
      },//}}}

      openDeleteDialog: function(e){//{{{
        console.log('del', e, e.model.item, this.selectedItem);
        var i = e.model.client;
        i.index = e.model.index;
        this.set('selectedItem', i);
        this.$.deleteDialog.open();
      },//}}}

      addClient: function(){//{{{
        // Verifica se nome está vazio {{{
        var name = this.newItemName.trim();
        if(!name){
          return;
        }//}}}

        // O elemento data-clients é responsável por adicionar cliente no bd.
        this.$$('data-clients').addClient(this.newItemName, this.newItemObs);

        // registra evento no analytics
        dataLayer.push({
          'event': 'Custom Event',
          'eventCategory': "Personal's Clients",
          'eventAction': 'Add',
          'eventLabel': firebase.auth().currentUser.uid,
          'eventValue': this.clients.length
        })

        // Fecha o dialog e limpa os campos de edicao<!--{{{-->
        this.$$('#addDialog').close();
        this.newItemName = '';
        this.newItemGym = '';
        this.newItemObs = '';
        this.$$('#name').invalid = false;
        //}}}
      },//}}}

      deleteClient: function(){//{{{
        // O elemento data-clients é responsável por deletar cliente no bd.
        this.$$('data-clients').deleteClient(this.selectedItem.index);

        // registra evento no analytics
        dataLayer.push({
          'event': 'Custom Event',
          'eventCategory': "Personal's Clients",
          'eventAction': 'Remove',
          'eventLabel': firebase.auth().currentUser.uid,
          'eventValue': this.clients.length
        })
      },//}}}
    });
  </script><!--}}}-->
</dom-module>
