<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="clients-list.html">

<dom-module id="users-view">
  <template>
    <style>/*{{{*/
      .card {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding: 8px;
        margin: 12px;
        border-radius: 5px;
        background-color: #fff;
        color: #757575;
      }
      h1 {
        text-align: center;
        font-size: 22px;
        margin: 16px 0;
        color: #212121;
      }
      .link{
        font-weight: bold;
        color: inherit;
        text-decoration: none;
      }
      .message{
        text-align: center;
      }
    </style><!--}}}-->

    <template is="dom-if" if="{{showMessage}}">
      <p class="message" inner-h-t-m-l="{{message}}"></p>
    </template>

    <clients-list></clients-list>

  </template>

  <script>
    Polymer({
      is: 'users-view',

      properties: {//{{{
        activated: {
          type: Boolean,
          observer: "updateView"
        },
        showMessage: {
          type: Boolean,
          value: false
        },
        message: String,
      },//}}}

      updateView: function(activated){//{{{
        if(!activated) return;

        var user = firebase.auth().currentUser;
        firebase.database().ref('trainer/' + user.uid + '/perfil').on('value', function(snap){
          if(!snap.exists()){
            console.error('snap não existe em update view em users-view. snap:', snap);
            return;
          }

          var paymentStatus = snap.val()['payment-status'];
          var allowedClientsNumber = snap.val()['allowed-clients-number'];
          var testUntil = moment(snap.val()['test-until']);
          var firstName = snap.val().name.split(' ')[0]
          if(paymentStatus != "Em dia"){
            this.set('showMessage', true);

            var daysOfTest = testUntil.diff(moment(), 'days');
            if(daysOfTest >= 15){
              this.set('message', 'Seja bem vindo ao Periodiza '+firstName+'. Você acaba de ganhar '+daysOfTest+' dias gratuitos de acesso à plataforma com direito a adicionar até '+allowedClientsNumber+' alunos.')
            }else if(daysOfTest > 1){
              this.set('message', 'Adicione até '+allowedClientsNumber+' alunos gratuitos pelos próximos '+daysOfTest+' dias. Para adicionar mais alunos <a href="/account/payments" class="link">Clique aqui</a> e escolha o melhor plano para você!')
            }else if(daysOfTest == 1){
              this.set('message', 'Adicione até '+allowedClientsNumber+' alunos gratuitos até amanhã. <a href="/account/payments" class="link">Clique aqui</a> para adquirir um de nossos pacotes!')
            }else if(daysOfTest > -30){
              this.set('message', 'Olá '+firstName+', informamos que, infelizmente, o seu período de teste chegou ao fim. Não perca o planejamento de seus alunos, para continuar acessando todas as funcionalidades, benefícios e incluir novos alunos, <a href="/account/payments" class="link">Clique aqui</a>.')
            }
          }
        }.bind(this));
      },//}}}
    });
  </script>
</dom-module>
