<!--
  Wrapper element for all the classes needs for a periodization
-->

<link rel="import" href="periodization-class.html">
<link rel="import" href="macrocycle-class.html">
<link rel="import" href="mesocycle-class.html">
<link rel="import" href="microcycle-class.html">
<link rel="import" href="phase-class.html">
