<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymerfire/polymerfire.html">

<dom-module id="data-trainings">
  <template><!--{{{-->
    <style>/*{{{*/
    </style><!--}}}-->

    <firebase-auth user="{{user}}"></firebase-auth>

    <firebase-query
      path="/trainer/{{user.uid}}/training-programs-ids"
      data="{{programs}}"
    ></firebase-query>

    <template is="dom-repeat" items="{{programs}}" as="program">
      <firebase-document
        path="/trainer/{{user.uid}}/training-programs/{{program.$key}}/name"
        data="{{program.name}}"
      ></firebase-document>
    </template>

  </template><!--}}}-->

  <script>//{{{
    Polymer({
      is: 'data-trainings',

      properties:{//{{{
        programs: {
          type: Array,
          notify: true,
        },
        empty:{
          type: Boolean,
          notify: true,
          value: false,
        },
        loading:{
          type: Boolean,
          notify: true,
          value: true,
        },
      },//}}}

      observers: ['isEmpty(user)', 'isLoading(programs.splices)'],

      isEmpty: function(user){//{{{
        if(user){
          firebase.database().ref('/trainer/'+user.uid+'/training-programs-ids')
          .on('value', function(snap){
            if(!snap.exists()){
              this.set('loading', false)
              this.set('empty', true)
            }
          }, this)
        }
      }, //}}}

      isLoading: function(changeRecord){//{{{
        if(changeRecord){
          this.set('loading', false)
        }else{
          this.set('loading', true)
        }
      },//}}}

      addProgram: function(name){//{{{
        var newItemKey = firebase.database()
        .ref('trainer/'+this.user.uid+'/training-programs/').push().key;

        var newItem = {};
        newItem['trainer/'+this.user.uid+'/training-programs/' + newItemKey] = {
          name: name
        }

        // Adiciona um novo programa na lista de ids de programas
        newItem['trainer/' + this.user.uid + '/training-programs-ids/' + newItemKey] = true;

        firebase.database().ref().update(newItem);
      },//}}}

      deleteProgram: function(index){//{{{
        var programKey = this.get('programs.'+index+'.$key')
        firebase.database().ref('trainer/'+this.user.uid+'/training-programs/'+programKey).set(null)
      },//}}}
    });
  </script><!--}}}-->
</dom-module>
