<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymerfire/polymerfire.html">
<link rel="import" href="../AuxiliarMethods/auxiliar-methods.html">

<dom-module id="data-clients">
  <template><!--{{{-->
    <style>/*{{{*/
    </style><!--}}}-->

    <firebase-auth user="{{user}}"></firebase-auth>

    <firebase-query path="/trainer/{{user.uid}}/clients" data="{{data}}"></firebase-query>
    <!-- No BD o nome do cliente é replicado nas informações do personal,   -->
    <!-- porém esse valor é sempre atualizado quando o original muda. -->
    <template is="dom-repeat" items="{{data}}" as="client">
      <firebase-document
        path="/trainee/{{client.$key}}/perfil/name"
        data="{{client.name}}"
      ></firebase-document>
    </template>

  </template><!--}}}-->

  <script>//{{{
    Polymer({
      is: 'data-clients',

      properties:{//{{{
        data: {
          type: Array,
          notify: true,
        },
        empty:{
          type: Boolean,
          notify: true,
          value: false,
        },
        loading:{
          type: Boolean,
          notify: true,
          value: true,
        },
      },//}}}

      observers: ['isEmpty(user)', 'isLoading(data.splices)'],

      isEmpty: function(user){//{{{
        if(user){
          firebase.database().ref('/trainer/'+user.uid+'/clients').on('value', function(snap){
            if(!snap.exists()){
              this.set('loading', false)
              this.set('empty', true)
            }
          }, this)
        }
      }, //}}}

      isLoading: function(changeRecord){//{{{
        if(changeRecord){
          this.set('loading', false)
        }else{
          this.set('loading', true)
        }
      },//}}}

      setUsername: function(name){//{{{
        // O username é usado para gerar a url onde o aluno pode ver seu treino.
        this.set('username', AuxiliarMethods.removeDiacritics(name.toLowerCase().replace(' ', '-')));

        // Define um username único
        var context = this;
        return firebase.database().ref('usernames/' + this.username)
        .once('value', function(snap){
          // Se username já existe
          if(snap.val()){
            return firebase.database().ref('usernamesRepeated/' + this.username)
            .transaction(function(ocurrences){
              context.set('username', context.username + (ocurrences ? ocurrences + 1: 1));
              return ocurrences + 1;
            });
          }
        });
      },//}}}

      addClient: function(name, obs){//{{{
        // Formata os campos antes de salvar no banco<!--{{{-->
        if(name){
          name = AuxiliarMethods.capitalizeFirsLetterOfWords(name);
        }
        else{
          return;
        }

        obs = obs ? obs.trim() : null;
        //}}}

        // Busca por um username antes de salvar<!--{{{-->
        this.setUsername(name).then(function(){
          var newItemKey = firebase.database().ref('trainee/').push().key;
          var newItem = {};
          newItem['trainee/temp' + newItemKey] = {
            perfil: {
              name: name,
              username: this.username,
              observations: obs,
            },
          }

          // Adiciona um novo aluno na base de usuários e o  <!--{{{-->
          //lista como aluno do personal que o coloca na base
          newItem['trainer/' + this.user.uid + '/clients/temp' + newItemKey] = true;
          newItem['usernames/' + this.username] = 'temp' + newItemKey;
          firebase.database().ref().update(newItem);//<!--}}}-->
        }.bind(this))//<!--}}}-->
      },//}}}

      deleteClient: function(index){
        // O elemento data-clients ta fazendo o bind do item com o firebase,
        //então só de colocar null no valor o item é deletado.
        this.set('data.'+index+'.$val', null)
      },//}}}
    });
  </script><!--}}}-->
</dom-module>
