<!-- Imports go here --><!--{{{-->
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../bower_components/polymerfire/polymerfire.html">
<link rel="import" href="../../../bower_components/google-chart/google-chart.html">
<link rel="import" href="../../../bower_components/moment-element/moment-with-locales-import.html">

<link rel="import" href="../../AuxiliarMethods/auxiliar-methods.html">
<!--}}}-->

<dom-module id="micro-info-view">
  <template>
    <style include="iron-flex iron-flex-alignment">/*{{{*/
      :host{
        color: #757575;
      }
      #content{
        padding: 8px;
        margin: 8px;
      }
      paper-slider{
        --paper-slider-knob-color:  var(--app-primary-color);
        --paper-slider-active-color: var(--app-primary-color);
        --paper-slider-pin-color:  var(--app-primary-color);
        --paper-slider-knob-start-color:  var(--app-primary-color);
        --paper-slider-pin-start-color:  var(--app-primary-color);
        width: inherit;
      }
      google-chart{
        height: 216px;
        width: inherit;
        padding: 12px;
      }
      @media screen and (min-width: 1024px){
        google-chart{
          height: 300px;
        }
      }
      .mt8{
        margin-top: 8px;
      }
      .mb8{
        margin-bottom: 8px;
      }
      .info{
        text-align: center;
        width: 96px;
        padding: 12px;
      }
      .large{
        font-size: large;
      }
      .small{
        font-size: small;
      }
      .strong{
        font-weight: bold;
      }
    </style><!--}}}-->

    <!-- Element DOM starts here -->
    <!--Dados da sessão atual {{{ -->
    <paper-card id="content" class="layout vertical">
      <div class="layout horizontal center justified">
        <paper-icon-button icon="icons:chevron-left" on-tap="goToPreviousSession"></paper-icon-button>
        <h2> Sessão 
          <span>[[session.number]]</span>
          <template is="dom-if" if="{{isNextSession}}">
            *
          </template>
        </h2>
        <paper-icon-button icon="icons:chevron-right" on-tap="goToFollowingSession"></paper-icon-button>
      </div>
      <paper-slider min="0" value="{{selectedSession}}" max="{{lastSession}}" secondary-progress="{{nextSession}}"></paper-slider>
      
      <div class="layout horizontal center justified wrap mb8"><!--{{{-->
        <div class="info">
          <div class="small">Data</div>
          <div class="large strong">[[session.todoDate]]</div>
        </div>
        <div class="info">
          <div class="small">Microciclo</div>
          <div class="large strong">[[session.microName]]</div>
        </div>
        <div class="info">
          <div class="small">Mesociclo</div>
          <div class="large strong">[[session.mesoName]]</div>
        </div>
        <div class="info">
          <div class="small">Fase</div>
          <div class="large strong">[[session.faseName]]</div>
        </div>
      </div>
      <!-- Gráfico {{{ -->
      <template is="dom-if" if="{{loaded}}">
        <google-chart id="microChart"
          type='column'
          options='[[chartOptions]]'
          cols='[[chartCols]]'
          rows='[[chartRows]]'
        ></google-chart>
      </template>
      <!--- }}} -->
      </div>

      <div class="layout horizontal center justified wrap mt8"><!--{{{-->
        <div class="info">
          <div class="large strong">{{session.sets}}</div>
          <div class="small">Séries</div>
        </div>
        <div class="info">
          <div class="large strong">{{session.intensity}}%</div>
          <div class="small">Intensidade</div>
        </div>
        <div class="info">
          <div class="large strong">{{session.repsRange}}</div>
          <div class="small">Repetições</div>
        </div>
        <div class="info">
          <div class="large strong">{{session.restTime}}</div>
          <div class="small">Descanso</div>
        </div>
      </div>
    </paper-card><!--}}}-->

  </template>

  <script>
    Polymer({
      is: 'micro-info-view',

      properties: {//{{{
        activated:{
          type: Boolean,
          value: false
        },
        loaded:{
          type: Boolean,
          value: false
        },
        session: {
          type: Object
        },
        periodizationData:{
          type: Object,
          value: function(){
            return {};
          }
        },
        periodization:{
          type: Object,
          value: function(){
            return {};
          }
        },
        selectedSession:{
          type: Number
        },
        lastSession:{
          type: Number
        },
        nextSession: {
          type: Number
        },
        isNextSession:{
          type: Boolean,
          computed: 'checkIfNextSession(selectedSession, nextSession)'
        },
        //chart properties
        chartOptions: {
          type: Object,
          value: function(){
            return {
              "legend": "none",
              "vAxis": {"minValue":0, "maxValue":1, "format": "percent"},
              "theme": "maximized",
              "animation": {"duration": "100"}
            };
          }
        },
        chartCols: {
          type: Array,
          value: function(){
            return [
              {"label":"Sessão", "type":"string"},
              {"label":"Percentual", "type":"number"},
              {"role": "style", "type": "string"}
            ];
          }
        },
        chartRows: {
          tyep: Array,
          value: function(){
            return [];
          }
        }
      },//}}}

      behaviors: [
        Polymer.IronResizableBehavior
      ],

      observers: ['clientChanged(clientId, activated)'],

      listeners:{
        'immediate-value-change': 'sliderChanged',
        'value-change': 'sliderChanged',
        'iron-resize': '_onIronResize'
      },

      _onIronResize: function(){
        if(this.loaded){
          this.$$('#microChart').redraw();
        }
      },

      clientChanged: function(clientId, activated){//{{{
        if(!activated){
          // activated evita que a funcão seja chamada enquanto o elemento não está ativo.
          //Essa variável é definida pelo iron-pages em user-view.
          return;
        }
        this.cleanData();
        this.fetchClientData(clientId);
      },//}}}

      fetchClientData: function(clientId){//{{{
        // Usar a api do firebase aqui traz a vantagem de atualizar automaticamente sempre que alguma
        //informação for alterada.
        firebase.database().ref('trainee/'+clientId+'/periodization').on('value', function(snap){
          this.loaded = true;
          if(snap.val() === null){
            return;
          }
          this.periodizationData = snap.val();
          moment.locale('pt-br');
          this.generateSessions();
          this.configureSlider();
        }, this);
      },//}}}

      generateSessions: function(){//{{{
          if(moment().isAfter(this.periodizationData['end-date'].split('/').join('-'))) {
            //Periodização acabou.
            console.error('Periodização acabou');
          } else {
            this.periodization = new Macrocycle(
              moment(this.periodizationData['start-date'].split('/').join('-')),
              moment(this.periodizationData['end-date'].split('/').join('-')),
              this.periodizationData.level,
              this.periodizationData.goal,
              this.periodizationData['weekdays-of-sessions'],
              this.periodizationData['session-duration']
            );
          }
      },//}}}

      configureSlider: function(){ //{{{
        var nextSession=0;
        while(moment().isAfter(this.periodization.sessionsList[nextSession].todoDate)){
          nextSession++;
        }
        if(nextSession == 0){//<!--{{{-->
          nextSession++;
          // Isso aqui é uma gambiarra pq o while que eu fiz acima tá errado,
          //a primeira sessão deixa o nextSession com 0 então ele procura na session list
          //o valor -1. Isso é um bom exemplo de necessidade de casos de testes.
          // Casos de teste:
          //= Hoje é a primeira sessão.
          //= A próxima sessão é hoje, mas não é a primeira sessão.
          //= A próxima sessão é amanhã.
          //= A periodização já acabou.
          //= A periodização ainda não começou.
        }//<!--}}}-->
        var nextSessionObj = this.periodization.sessionsList[--nextSession];

        // Configurações do slider
        this.set('nextSession', nextSession);
        this.set('selectedSession', nextSession);
        this.set('lastSession', this.periodization.sessionsList.length - 1);
        this.updateData(nextSessionObj);
      },//}}}

      updateData: function(session){//{{{
        this.set('session.todoDate', session.todoDate.format('DD/MM/YYYY'));
        this.set('session.number', (session.micro.id+1) + '.' + (session.id+1));
        this.set('session.intensity', Math.round(session.intensity * 100));
        this.set('session.sets', session.sets);
        this.set('session.restTime', moment.utc(session.restTime * 1000).format("mm:ss"));
        this.set('session.repsRange', AuxiliarMethods.intensityToRepsRange(session.intensity));

        this.set('session.microName', session.micro.getName());
        this.set('session.mesoName', session.micro.meso.getName());
        this.set('session.faseName', session.micro.fase.getName());

        this.drawChart(session);
      },//}}}

      drawChart: function(session){//{{{
        // Mudanças no gráfico
        this.chartRows = [];
        session.micro.sessions.forEach(function(microSession){
          if(microSession.id == session.id){
            var color = '#3bbab5';
          }else{
            var color = '#c1ebea';
          }
          this.chartRows.push(["Sessão "+(microSession.id+1), microSession.percentage, color]);
        }.bind(this));
      },//}}}

      goToPreviousSession: function(){//{{{
        if(this.selectedSession > 0){
          this.selectedSession = this.selectedSession - 1;
          this.updateData(this.periodization.sessionsList[this.selectedSession]);
        }
      },//}}}

      goToFollowingSession: function(){//{{{
        if(this.selectedSession < this.periodization.sessionsList.length){
          this.selectedSession = this.selectedSession + 1;
          this.updateData(this.periodization.sessionsList[this.selectedSession]);
        }
      },//}}}

      sliderChanged: function(e){//{{{
        if(this.periodization){
          var sessionObj = this.periodization.sessionsList[this.$$('paper-slider').immediateValue];
          this.updateData(sessionObj);
        }
      },//}}}

      cleanData: function(){ //{{{
        this.session = {};
        this.loaded = false;
        this.periodization = {};
        this.periodizationData = {};
      },//}}}

      checkIfNextSession: function(current, next){ //{{{
        return this.selectedSession === this.nextSession;
      }//}}}
    });
  </script>
</dom-module>
