<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../AuxiliarMethods/auxiliar-methods.html">

<link rel="import" href="max-load-calculation.html">

<dom-module id="max-load-view">
  <template><!--{{{-->
    <style>/*{{{*/
      paper-spinner[active]{
        --paper-spinner-layer-1-color: #ffc137;
        --paper-spinner-layer-2-color: #3bbab5;
        --paper-spinner-layer-3-color: #ffc137;
        --paper-spinner-layer-4-color: #3bbab5;
      }
      paper-listbox{
        padding: 0;
      }

      #insertRM{
        min-width: 30%;
        text-align: center;
        @apply(--layout-vertical);
      }
      paper-item{
        border-bottom: 1px solid #ccc;
        cursor: pointer;
      }
      .empty{
        text-align: center;
        margin: 8px;
        font-size: large;
      }
    </style><!--}}}-->

    <!-- Instruções (pequeno texto) -->
    <p style="text-align: center;">Seu aluno ficou mais forte? Atualize
      frequentemente as repetições e a carga que seu aluno realiza treinando
      até a falha concêntrica.</h4>

    <!-- Lista de exercícios {{{-->
    <!-- <paper-spinner active></paper-spinner> -->
    <div hidden="{{!loaded}}">
      <div class="empty" hidden="{{userProgram.length}}"> Seu aluno precisa ter um treino para inserir suas cargas máximas </div>
      <paper-listbox>
        <template is="dom-repeat" items="{{userProgram}}" as="exercise">
              <paper-item on-tap="openDialog">
                <paper-item-body two-line>
                  <div>{{exercise.name}}</div>

                  <template is="dom-if" if="{{exercise.rm}}">
                    <div secondary> Última estimativa: {{exercise.rm}}kg</div>
                  </template >
                </paper-item-body>
              </paper-item>
        </template>
      </paper-listbox>
    </div>
    <!-- }}} -->

    <!-- Dialog {{{-->
    <paper-dialog id="insertRM" restore-focus-on-close>
      <max-load-calculation exercise="{{currentExercise}}" rm-estimated={{rmEstimated}}></max-load-calculation>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancelar</paper-button>
        <paper-button dialog-confirm on-tap="saveRM">Ok</paper-button>
      </div>
    </paper-dialog>
    <!-- }}} -->

  </template><!--}}}-->

  <script>//{{{
    Polymer({
      is: 'max-load-view',

      properties:{//{{{
        userProgram:{
          type: Array,
          value: function(){
            return [];
          }
        },
        loaded:{
          type: Boolean,
          value: false
        },
        currentExercise: {
          type:String,
          notify:true
        },
        lastRM: {
          type: Array,
        },
        activated:{
          type: Boolean,
          value: function(){return false},
        },
      },//}}}

      observers: ['clientChanged(clientId, activated)'],
      clientChanged: function(clientId, activated){//{{{
        if(!activated){
          // activated evita que a funcão seja chamada enquanto o elemento não está ativo.
          //Essa variável é definida pelo iron-pages em user-view.
          return
        }
        var context = this;
        // Deatach a função do firebase para corrigir o erro de 2 exercícios estarem mudando de RM ao mesmo tempo.
        context.userProgram.forEach(function(exercise){
          exercise.ref.off();
        });
        context.set("userProgram", []);
        context.set("loaded", false);
        context.set("currentExercise", "");

        firebase.database().ref('trainee/' + this.clientId + '/trainingProgram').once('value', function(snap){
          if(snap.val() === null){
            context.set('trainingExists', false);
          }else{
            context.set('trainingExists', true);
            // Criar lista com nomes dos exercicios

            // colocar todos os exercicios do primeiro treino
            var trainings = snap.val();
            var list = trainings[0].exercises;

            // Adiciona exercícios dos demais trainos.
            for(var i = 1; i < trainings.length; i++){
              list = list.concat(trainings[i].exercises);
            }
            var uniqueList = list.filter(function(elem, index, self) {
                return index === self.indexOf(elem);
            });
            uniqueList = uniqueList.map(function(item){
              // Usado para transformar os elementos do array em objetos,{{{
              // pois é necessário para criar uma outra propriedade pra carregar
              // o último RM (já que não dá pra criar variáveis locais no dom-repeat)}}}
              return {name: item}
            });
            context.set('userProgram', uniqueList);

            //Carregar última estimativa de RM {{{
            context.userProgram.forEach(swypeExercises)
            function swypeExercises(exercise, index){//{{{
              // Mantem uma referencia para poder chamar ref.off() ao resetar elemento,
              //caso contrário a função do firebase é chamada para um elemento que já não
              //existe mais ou mudou de lugar. Evita o erro de alterar o RM em dois exercícios ao mesmo tempo.
              exercise.ref = firebase.database()
              .ref('trainee/'+context.clientId+'/1-rm/'+exercise.name)
              .orderByKey().limitToLast(1);

              exercise.ref.on('value', getRm)
              function getRm(snap){//{{{
                if(snap.exists()){
                  var key = Object.keys(snap.val())[0]
                  context.set('userProgram.'+index+'.rm', snap.val()[key].rm)
                }
              }//}}}
            }//}}}
            //}}}
          }
          context.set('loaded', true);
        }, function(error){
          context.set('loaded', true);
          console.error("Could not load");
        });

      },//}}}

      openDialog: function(e){//{{{
        var context = this;
        context.set("currentExercise", e.model.exercise.name);
        context.$.insertRM.open();
      },//}}}

      saveRM: function(){//{{{
        if(this.rmEstimated <= 0){//{{{
          // Entrada inválida.
          console.error('só vou salvar no bd RMs maiores que 0. Você tentou salvar o valor', this.rmEstimated)
          return
        }//}}}
        var today = moment().format('YYYY-MM-DD')
        var path = '/trainee/'+this.clientId+'/1-rm/'+this.currentExercise+'/'+today
        var ref = firebase.database().ref(path)

        ref.set({author: firebase.auth().currentUser.uid, rm: this.rmEstimated})

        // registra evento no analytics
        dataLayer.push({
          'event': 'Custom Event',
          'eventCategory': "RM",
          'eventAction': 'update',
          'eventLabel': this.currentExercise,
          'eventValue': this.rmEstimated
        })
      },//}}}
    });
  </script><!--}}}-->
</dom-module>
