<!-- Imports go here -->
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">

<link rel="import" href="../../AuxiliarMethods/auxiliar-methods.html">

<dom-module id="max-load-calculation">
  <template>
    <style>
      :host {

      }
      .horizontal{
        -webkit-justify-content: space-around;
        justify-content: space-around;
      }
      .buttons{
        -webkit-justify-content: space-between !important;
        justify-content: space-between !important;
      }
    </style>

    <!-- Element DOM starts here -->
    <h2>{{exercise}}</h2>
    <div class="horizontal">
        <!-- <paper&#45;dropdown&#45;menu class="self&#45;stretch text&#45;center" label="Nível" required error&#45;message="Campo necessário"> -->
      <paper-input type="number" value="{{repetitions}}"   min="1" max="30" required label="Reps" autofocus error-message="Cálculo indisponível para mais de 30 repetições" auto-validate></paper-input>
      <paper-input type="number" value="{{load}}"           min="0" required label="Carga" error-message="Insira um peso maior que 0" auto-validate>
          <div suffix>kg</div>
      </paper-input>
    </div>
    <h3>RM Estimado:
      <span hidden={{!rmEstimated}}> {{rmEstimated}}kg</span>
    </h3>
  </template>

  <script>
    Polymer({
      is: 'max-load-calculation',

      properties: {
        exercise: {
          type: String,
          value: 0
        },
        load: {
          type: Number
        },
        repetitions: {
          type: Number
        },
        rmEstimated:{
          type:  Number,
          computed: 'calculateRM(load, repetitions)',
          notify: true
        }
      },

      observers: ['exerciseChanged(exercise)'],

      exerciseChanged: function(exercise){//{{{
        this.load = '';
        this.repetitions = '';
        this.rmEstimated = 0;

        this.$$('paper-input[label="Reps"]').invalid = false
        this.$$('paper-input[label="Carga"]').invalid = false
      },

      ready: function(){
        console.log("max-load-calculation");
      },
      calculateRM: function(load, repetitions){
        if(!repetitions || !load || isNaN(load) || isNaN(repetitions) ||  repetitions < 1 || load < 0){
          return 0;
        }
        var rm = Math.round(load / AuxiliarMethods.repsToIntensity(repetitions));
        return rm;
      },
      saveData: function(){

      }
    });
  </script>
</dom-module>
