<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/app-route/app-location.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">

<dom-module id="payments-view">
  <template><!--{{{-->
    <style include="iron-flex iron-flex-alignment">/*{{{*/
      paper-item{
        border-bottom: 1px solid #ccc;
        cursor: pointer;
      }
      p{
        text-align: center;
      }
      span{
        font-weight: bold;
        color: lightseagreen;
      }
      paper-listbox{
        padding: 0;
      }
      paper-card{
        margin: 8px;
        padding: 8px;
      }
      paper-button{
        background-color: var(--app-primary-color);
        color: white;
        margin: 12px 0 0 0;
      }
    </style><!--}}}-->

    <app-location query-params="{{urlQueries}}"></app-location>

    <template is="dom-if" if="{{showMessage}}">
      <p inner-h-t-m-l="{{message}}"></p>
    </template>

    <template is="dom-if" if="{{!showMessage}}">
      <!-- Pacotes {{{ -->
      <paper-listbox data-analytics data-category="Comprar Pacote">
        <form is="iron-form" id="starter" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick"></input>
          <input type="hidden" name="hosted_button_id" value="J8VNRMAYQ3XLY"></input>
          <paper-item on-tap="submitStarter">
            <paper-item-body two-line>
              <div>Assinar Plano Starter - R$29,90/mês</div>
              <div secondary>Até 2 alunos</div>
            </paper-item-body>
          </paper-item>
        </form>
        <form is="iron-form" id="coach" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick"></input>
          <input type="hidden" name="hosted_button_id" value="FHA9RUUYDS3YU"></input>
          <paper-item on-tap="submitCoach">
            <paper-item-body two-line>
              <div>Assinar Plano Coach - R$59,90/mês</div>
              <div secondary>Até 5 alunos</div>
            </paper-item-body>
          </paper-item>
        </form>
        <form is="iron-form" id="master" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick"></input>
          <input type="hidden" name="hosted_button_id" value="LSFZSKCJSRV2C"></input>
          <paper-item on-tap="submitMaster">
            <paper-item-body two-line>
              <div>Assinar Plano Master - R$89,90/mês</div>
              <div secondary>Até 10 alunos</div>
            </paper-item-body>
          </paper-item>
        </form>
      </paper-listbox>
      <!-- }}} -->

      <paper-card class="layout vertical" data-analytics data-category="Código Promocional">
        <!-- Codigo promocional {{{-->
        <paper-input id="promotionalCode" label="Código Promocional"
        error-message="Código inválido" value="{{promotionalCode}}" placeholder="Digite aqui o código"></paper-input>
        <paper-button raised on-tap="sendPromotionalCode">Enviar</paper-button>
      </paper-card>
      <!-- }}} -->
    </template>
  </template><!--}}}-->

  <script>//{{{
    Polymer({
      is: 'payments-view',

      properties: {//{{{
        urlQueries: Object,
        showMessage: {
          type: Boolean,
          value: function(){return false;},
        },
        message: String,
      },//}}}

      observers: ['paymentResult(urlQueries.p)'],

      paymentResult: function(chosenPackage){//{{{
        if(chosenPackage){
          // Mostra mensagem de pré aprovação e encaminha pra área de alunos.
          this.set('showMessage', true);
          var dataToDB = {};
          dataToDB['trainer/'+firebase.auth().currentUser.uid+'/perfil/user-requested-change'] = 'Confirmar se adquiriu pacote '+chosenPackage;
          firebase.database().ref().update(dataToDB);

          firebase.database().ref('trainer/'+firebase.auth().currentUser.uid+'/perfil')
          .once('value', function(snap){
            if(snap.val().hasOwnProperty('payment-status')){
              // Se precisa esperar confirmação.
              this.set('message', 'Precisamos confirmar seu pagamento, aguarde 1 dia útil. Caso haja algum problema nos envie um email em contato@periodiza.com');
            }else{
              this.set('message', 'Seu pagamento foi <span>pré aprovado</span>. Você será direcionado para a área de seus alunos.');

              // Redireciona para /users depois de 7 segundos. {{{
              setTimeout(function(){
                window.location.href = "/users";
              }, 7000); //}}}
            }

            var allowedClientsNumber = 2; // Se pacote starter
            if(chosenPackage == 'c'){ // Coach
              allowedClientsNumber = 5;
            }else if(chosenPackage == 'm'){ // Master
              allowedClientsNumber = 10;
            }

            // Muda status de pagamamento no perfil do usuário. Com as rules funcionando isso acontece atomicamente? Tudo ou nada?
            dataToDB['trainer/'+firebase.auth().currentUser.uid+'/perfil/payment-status'] = 'Em dia';
            dataToDB['trainer/'+firebase.auth().currentUser.uid+'/perfil/allowed-clients-number'] = allowedClientsNumber;
            dataToDB['trainer/'+firebase.auth().currentUser.uid+'/payments-logs/'+moment().format('YYYYMMDDHHmmss')] = 'Pacote de '+allowedClientsNumber+' adquirido';
            firebase.database().ref().update(dataToDB);

            dataLayer.push({
              'event': 'Custom Event',
              'eventCategory': 'Pacote',
              'eventAction': 'Comprou',
              'eventLabel': chosenPackage,
              'eventValue': allowedClientsNumber
            })
          }, this);
        }else{
          this.set('showMessage', false);
        }
      },//}}}

      submitStarter: function(e){//{{{
        this.$$('#starter').submit();
      },//}}}

      submitCoach: function(e){//{{{
        this.$$('#coach').submit();
      },//}}}

      submitMaster: function(e){//{{{
        this.$$('#master').submit();
      },//}}}

      sendPromotionalCode: function(){//{{{
        dataLayer.push({
          'event': 'Custom Event',
          'eventCategory': 'Código promocional',
          'eventAction': 'Clicou em enviar',
          'eventLabel': this.promotionalCode
        })

        if(this.promotionalCode == 'periodiza'){
          // A estrutura used-promotional-codes é uma lista de códigos promocionais já usados pelo usuário.
          firebase.database().ref('trainer/'+firebase.auth().currentUser.uid+'/used-promotional-codes/'+this.promotionalCode)
          .once('value', function(snap){
            if(snap.exists()){
              // Já usou esse código promocional
              alert('Esse código promocional já foi utilizado.');
            }else{
              // Mostra mensagem.
              this.set('showMessage', true);

              this.set('message', 'Você acaba de ganhar 15 dias de teste do sistema Periodiza.');

              var dataToDB = {};
              // Muda configura período de teste.
              dataToDB['trainer/'+firebase.auth().currentUser.uid+'/used-promotional-codes/'+this.promotionalCode] = true;
              dataToDB['trainer/'+firebase.auth().currentUser.uid+'/perfil/test-until'] = moment().add(15, 'days').valueOf()
              dataToDB['trainer/'+firebase.auth().currentUser.uid+'/perfil/allowed-clients-number'] = 2
              firebase.database().ref().update(dataToDB);

              // Redireciona para /users depois de 7 segundos. {{{
              setTimeout(function(){
                window.location.href = "/users";
              }, 7000); //}}}
            }
          }, this);
        }else{ // wrong code
          this.$$('#promotionalCode').invalid = true;
          console.log('cod', this.$$('#promotionalCode'))
        }
      },//}}}
    });
  </script><!--}}}-->
</dom-module>
