<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="inactive-view">
  <template><!--{{{-->
    <style>/*{{{*/ 
      a{
        text-decoration: none;
        padding: 6px 4px;
        background-color: white;
        color: black;
      }
      p{
        text-align: center;
      }
    </style><!--}}}-->

    <p inner-h-t-m-l="{{message}}"></p>
  </template><!--}}}-->

  <script>//{{{
    Polymer({
      is: 'inactive-view',

      ready: function(){//{{{
        firebase.database().ref('trainer/'+firebase.auth().currentUser.uid
        +'/perfil/message-if-blocked').on('value', function(snap){
          if(!snap.exists() || snap.val() == ''){
            this.set('message', 'Seu acesso está bloqueado. Por favor verifique '
            + 'suas informações em <a href="/account"><iron-icon icon="account-circle"></iron-icon><span>Conta</span></a>.')
          }else{
            this.set('message', snap.val())
          }
        }, this)
      },//}}}
    });
  </script><!--}}}-->
</dom-module>
