<!-- Imports go here --><!--{{{-->
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../../behaviors/periodiza-behaviors.html">
<link rel="import" href="../../AuxiliarMethods/auxiliar-firebase.html">
<link rel="import" href="../../AuxiliarMethods/auxiliar-methods.html">
<!--}}}-->

<dom-module id="periodization-view">
  <template><!--{{{-->
    <style include="iron-flex iron-flex-alignment">/*{{{*/
      paper-card{
        padding: 8px;
        margin: 8px;
        color: #757575;
      }
      .save-button{
        background-color: var(--app-primary-color);
        color: #fff;
      }
      #content{
        padding: 12px;
        margin: 8px;
      }

      .period{
        display: flex;
        justify-content: space-between;
      }

      .info > div:nth-child(1){
        font-size: small;
      }
      .info > div:nth-child(2){
        font-size: large;
      }

      .week > *{
        flex: 1;
        padding: 4px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        background: #308c7c;
        border-radius: 4px;
        color: white;
        cursor: pointer;
      }
      .week > .par{
        background: #35b39d;
      }
      .week > .deselected{
        background: none;
        color: black;
      }
      .week > .invalid{
        border: red;
        color: red;
      }
      .text-center{
        text-align: center;
      }
      .small{
        font-size: small;
      }
      .larger{
        font-size: larger;
      }
      .large{
        font-size: large;
        font-weight:bold;
      }
      .container{
        margin: 4px 0 8px;
      }
      .clickable{
        cursor: pointer;
      }
      .text-center{
        text-align: center;
      }
    </style><!--}}}-->

    <!-- Element DOM starts here -->

    <paper-card id="content" class="layout vertical text-center">
      <h2> <!-- {{{ -->
        <span>Periodização</span>
        <template is="dom-if" if="{{!showExplanation}}">
          <iron-icon class="clickable" on-tap="_openExplanation" icon="icons:info-outline"></iron-icon>
        </template>
        <template is="dom-if" if="{{showExplanation}}">
          <iron-icon class="clickable" on-tap="_dismissExplanation" icon="icons:info"></iron-icon>
        </template>
      </h2> <!-- }}} -->
      <template is="dom-if" if="{{loading}}">
          <paper-spinner class="layout self-center" active></paper-spinner>
      </template>
      <template is="dom-if" if="{{showExplanation}}">  <!-- {{{ --> 
        <paper-card class="layout horizontal justified"> 
          <span>Insira abaixo os dados sobre a periodização do(a) seu(sua) aluno(a) para que possamos calcular as variáveis da periodização</span>
          <iron-icon class="clickable" on-tap="_dismissExplanation" icon="icons:close"></iron-icon>
        </paper-card>
      </template> <!-- }}} -->

      <div class="container layout vertical center center-center">
        <div class="large"> Dados do Aluno </div>
        <paper-dropdown-menu class="self-stretch text-center" label="Nível" required error-message="Campo necessário" always-float-label><!--{{{-->
          <paper-listbox class="dropdown-content" selected="{{periodization.level}}">
            <paper-item data-level="0">Iniciante</paper-item>
            <paper-item data-level="1">Intermediário</paper-item>
            <paper-item data-level="2">Avançado</paper-item>
          </paper-listbox >
        </paper-dropdown-menu><!--}}}-->
        <!-- Objetivo --><!--{{{-->
        <paper-dropdown-menu class="self-stretch text-center" label="Objetivo" required error-message="Campo necessário" always-float-label>
          <paper-listbox class="dropdown-content" selected="{{periodization.goal}}">
            <paper-item data-objective="1">Hipertrofia</paper-item>
            <paper-item data-objective="0">Força</paper-item>
            <paper-item data-objective="2">Potência</paper-item>
            <paper-item data-objective="3">Resistência</paper-item>
          </paper-listbox >
        </paper-dropdown-menu><!--}}}-->
      </div>
      <div class="container layout vertical center center-center">
        <div class="large">Dados das Sessões</div>
        <!-- Sessões na semana --><!--{{{-->
        <div class="small">Sessões na semana</div>
        <div hidden id="weekError" style="color: red; font-size: small;">
          Selecione pelo menos 1 dia.
        </div>
        <div on-tap="toggleSelect" class="week self-stretch text-center" style="display: flex;">
          <div data-weekvalue="0" class="deselected">Dom</div>
          <div data-weekvalue="1" class="par deselected">Seg</div>
          <div data-weekvalue="2" class="deselected">Ter</div>
          <div data-weekvalue="3" class="par deselected">Qua</div>
          <div data-weekvalue="4" class="deselected">Qui</div>
          <div data-weekvalue="5" class="par deselected">Sex</div>
          <div data-weekvalue="6" class="deselected">Sab</div>
        </div ><!--}}}-->
        <!-- Duração do planejamento --><!--{{{-->
        <paper-input class="self-stretch text-center" id="meses" label="Duração do planejamento" error-message="Meses entre 4 a 12."
        required min="4" max="12" type="number" value="{{periodization.planningDuration}}" always-float-label>
          <div suffix>meses</div >
        </paper-input ><!--}}} -->
        <!-- Tempo de sessão --><!--{{{-->
        <paper-dropdown-menu class="self-stretch text-center" id="horas" required error-message="Campo necessário"
        label="Tempo médio de sessão" always-float-label>
          <paper-listbox class="dropdown-content" attr-for-selected="data-duration" selected="{{periodization.session-duration}}">
            <paper-item data-duration="60">1h</paper-item>
            <paper-item data-duration="90">1h30</paper-item>
            <paper-item data-duration="120">2h</paper-item>
          </paper-listbox>
        </paper-dropdown-menu><!--}}}-->
      </div>

      <paper-button class="save-button" raised on-tap="savePeriodization">
        <template is="dom-if" if="{{periodizationExists}}">  Ajustar </template>
        <template is="dom-if" if="{{!periodizationExists}}"> Montar  </template>
        Periodização
      </paper-button>

    </paper-card>
  </template><!-- }}}-->

  <script>
    Polymer({
      is: 'periodization-view',

      properties: {//{{{
        clientId: String,
        periodizationExists:{
          type: Boolean,
          value: false
        },
        periodization:{
          type: Object,
          value: function(){
            return {
              "level": null,
              "goal": null,
              "planningDuration": null,
              "session-duration": "",
              "start-date": "",
              "end-date": ""
            };
          }
        },
        activated:{
          type: Boolean,
          value: false
        },
        loading:{
          type: Boolean,
          value: true
        }
      },//}}}

      observers: ['clientChanged(clientId, activated)'],
      behaviors:[
        PeriodizaBehaviors.ToastMessageBehavior,
        PeriodizaBehaviors.ExplanationBehavior
      ],
      clientChanged: function(clientId, activated){//{{{
        if(!activated){
          // activated evita que a funcão seja chamada enquanto o elemento não está ativo.
          //Essa variável é definida pelo iron-pages em user-view.
          return;
        }
        this.resetElement();
        AuxiliarFirebase.getMetaPeriodizationPromise(clientId).then(function(metaPeriodization){
          // Se periodização não existe {{{
          this.loading = false;
          if(metaPeriodization === null){
            this.set('periodizationExists', false);
            return;
          }
          //}}}

          this.set('periodizationExists', true); // Muda aba para a visualização do micro se uma periodização existe
          this.set('periodization.level', metaPeriodization.level);
          this.set('periodization.goal', metaPeriodization.goal);
          this.set('periodization.session-duration', metaPeriodization['session-duration']);

          // Carrega duração do planejamento {{{
          if(!metaPeriodization.hasOwnProperty('start-date')){
            return;
          }
          var initDate = moment(metaPeriodization['start-date'].split('/').join('-'));
          var endDate = moment(metaPeriodization['end-date'].split('/').join('-'));
          var planningDuration = endDate.diff(initDate, 'months');
          this.set('periodization.planningDuration', planningDuration);
          // }}}

          // Carrega dias da semana em que treina. {{{
          if(!metaPeriodization.hasOwnProperty('weekdays-of-sessions')){
            return;
          }
          var days = this.$$('.week').childNodes;
          for(var d in days){
            if(days[d].dataset){
              if(metaPeriodization['weekdays-of-sessions'].includes(Number(days[d].dataset['weekvalue']))){
                days[d].classList.remove('deselected');
              }else{
                days[d].classList.add('deselected');
              }
            }
          } //}}}
        }.bind(this));
      },//}}}

      savePeriodization: function(){//{{{

        var context = this;
        
        var userId = firebase.auth().currentUser.uid;
        var periodizationToBD = {};

        // Check inputs {{{
        var el = this.$$('paper-dropdown-menu[label=Nível]');
        el.validate();
        if(el.invalid){
          return;
        }
        periodizationToBD.level = Number(el.selectedItem.dataset['level']);

        el = this.$$('paper-dropdown-menu[label=Objetivo]');
        el.validate();
        if(el.invalid){
          return;
        }
        periodizationToBD.goal = Number(el.selectedItem.dataset['objective']);

        var days = this.$$('.week').childNodes
        var daysOfTheWeek = [];
        for(var d in days){
          var cList = days[d].classList;
          if(cList && !cList.contains('deselected')){
            daysOfTheWeek.push(Number(days[d].dataset['weekvalue']));
          }
        }
        if(daysOfTheWeek.length > 6){
          this.sendMessage("Deixe seu aluno descansar pelo menos um dia da semana!");
          return;
        }
        // Se nenhum dia for selecionado, aciona status de inválido<!--{{{-->
        if(daysOfTheWeek.length <= 0){
          this.$$('#weekError').hidden = false;
          var daysOfTheWeek = [];
          for(var d in days){
            var cList = days[d].classList
            if(cList){
              cList.add('invalid');
            }
          }
          return
        }//<!--}}}-->
        periodizationToBD['weekdays-of-sessions'] = daysOfTheWeek;

        el = this.$$('paper-dropdown-menu#horas');
        el.validate();
        if(el.invalid){
          return;
        }
        periodizationToBD['session-duration'] = Number(el.selectedItem.dataset['duration']);

        el = this.$$('paper-input#meses');
        el.validate();
        if(el.invalid){
          return;
        }
        var planningDuration = el.value;
        //}}}

        periodizationToBD['created-at'] = moment().format('YYYY/MM/DD');
        periodizationToBD['start-date'] = moment().format('YYYY/MM/DD');
        periodizationToBD['end-date'] = moment().add(planningDuration, 'months').format('YYYY/MM/DD');
        periodizationToBD['created-by'] = userId;
        this.loading = true;
        firebase.database().ref('trainee/' + this.clientId + '/periodization').set(periodizationToBD)
          .then(function(success){
            context.loading = false;
            var message = context.periodizationExists ? "Periodização ajustada!" : "Periodização criada!";
            context.sendMessage(message);
            context.set('periodizationExists', true); // Muda aba para a visualização do micro se uma periodização existe
            context.fire('periodization-created', {periodizationExists: true}) // Evento usado para notificar o elemento pai que uma periodização foi criada.
            // Gera visualização visualização de treinos que pode ser acessada na área do aluno.
            AuxiliarMethods.generateSessions(this.clientId);
          })
          .catch(function(error){
            context.loading = false;
            context.sendMessage("Não foi possível salvar os dados da periodização. Tente novamente mais tarde.");
          });
      },//}}}

      toggleSelect: function(e){//{{{
        var el = e.target
        if(el){
          el.classList.toggle('deselected')
        }

        // Tira o status de inválido se houver.<!--{{{-->
        var weekError = this.$$('#weekError')
        if(!weekError.hidden){
          weekError.hidden = true
          var days = this.$$('.week').childNodes
          for(var d in days){
            var cList = days[d].classList
            if(cList){
              cList.remove('invalid')
            }
          }
        }//}}}
      },//}}}
      resetElement: function(){
        this.set('periodizationExists', false);
        this.set('periodization', {
              "level": null,
              "goal": null,
              "planningDuration": null,
              "session-duration": "",
              "start-date": "",
              "end-date": ""
        });
        this.set('loading', true);
        this.$$('#weekError').hidden = true;

        var days = this.$$('.week').childNodes;
        for(var i in days){
          if(days[i].classList){
            days[i].classList.add('deselected');
          }
        }
      },

      
    });
  </script>
</dom-module>
