<!-- Imports {{{  -->
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<!-- }}} -->

<dom-module id="register-view">
<template><!--{{{-->
  <style include="iron-flex iron-flex-alignment">/*{{{*/
    .centered-text{
      text-align: center;
      color: #555555;
      font-weight: 300;
    }
    .periodiza-button{
      background-color: var(--app-primary-color);
      color: #fff;
    }
    a{
        text-decoration: none;
        color: #ffc137;
    }
  </style><!--}}}-->

  <div class="layout vertical center-center">
    <paper-input class="layout self-stretch"
      id="cref"
      label="Número do CREF/CONFEF*"
      placeholder="EX: 123456-G/SP"
      value="{{cref}}"
      required
      auto-validate
      error-message="Campo obrigatório"
    ></paper-input>
    <paper-input class="layout self-stretch"
      id="name"
      label="Nome*"
      placeholder="Seu nome"
      value="{{userName}}"
      required
      auto-validate
      error-message="Campo obrigatório"
    ></paper-input>
    <paper-input class="layout self-stretch"
      id="email"
      label="E-mail*"
      placeholder="O e-mail que você mais usa"
      value="{{email}}"
      required
      auto-validate
      error-message="Campo obrigatório"
    ></paper-input>
    <paper-input class="layout self-stretch"
      id="password"
      label="Senha*"
      placeholder="Senha"
      type="password"
      value="{{password}}"
      required
      auto-validate
      error-message="Campo obrigatório"
    ></paper-input>
    <paper-input class="layout self-stretch"
      id="samePassword"
      label="Mesma senha*"
      placeholder="Repita a senha"
      type="password"
      value="{{samePassword}}"
      required
      auto-validate
      error-message="Campo obrigatório"
    ></paper-input>
    <paper-input class="layout self-stretch"
      label="Cidade"
      placeholder="Cidade onde trabalha"
      value="{{city}}"
    ></paper-input>
    <paper-input class="layout self-stretch"
      label="Estado"
      placeholder="Ex: SP"
      value="{{state}}"
    ></paper-input>
    <paper-input class="layout self-stretch"
      label="Área de atuação"
      placeholder="Público geral, atletas, diabéticos, terceira idade'"
      value="{{field}}"
    ></paper-input>

    <paper-button class="layout self-stretch periodiza-button" raised on-tap="registerWithEmail">Cadastrar</paper-button>

    <p class="centered-text"> Já tem um cadastro? <a href="/">Acesse com seu email</a>.</p>

    <!-- <p class="centered&#45;text"> Ao se cadastrar, você estará automaticamente aceitando nossos <a href="#">termos de uso</a>.</p> -->
  </div>

</template><!--}}}-->

<script>/*{{{*/
  Polymer({
    is: 'register-view',

    properties: {//{{{
    },//}}}

    observers: [],

    registerWithEmail: function(){
      if(this.validateInputs()){
        firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
        .then(function(user){
          firebase.database().ref('trainer/'+user.uid+'/perfil/').update({
            name: this.userName,
            email: user.email,
            cref: this.cref,
            city: this.city || null,
            state: this.state || null,
            field: this.field || null
          });
        }, function(error) {
          // Handle Errors here.
          if(error.code == 'auth/email-already-in-use'){
            this.$.email.invalid = true;
            this.$.email.errorMessage = 'Esse email já está em uso por outra conta.';
          }else if(error.code == 'auth/invalid-email'){
            this.$.email.invalid = true;
            this.$.email.errorMessage = 'Esse email não é válido.';
          }else{
            console.error(error);
            alert(error);
          }
        }, this);
      }
    },

    validateInputs: function(){//{{{
      if(!this.$.cref.validate()) return false;
      if(!this.$.name.validate()) return false;
      if(!this.$.email.validate()) return false;
      if(this.email.indexOf('@') == -1){// Não é um email.
        this.$.email.invalid = true;
        this.$.email.errorMessage = 'Esse email não é válido.';
        return false;
      }
      if(!this.$.password.validate()) return false;
      if(this.password.length < 6){
        this.$.password.invalid = true;
        this.$.password.errorMessage = 'A senha deve conter pelo menos 6 caracteres.';
        return false;
      }
      if(!this.$.samePassword.validate()) return false;
      if(this.password != this.samePassword){
        this.$.samePassword.invalid = true;
        this.$.samePassword.errorMessage = 'Senha não coincide.';
        return false;
      }

      return true;
    },//}}}
  });
</script><!--}}}-->
</dom-module>
