<!-- Imports {{{  -->
<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<!-- }}} -->

<dom-module id="login-view">
<template><!--{{{-->
  <style include="iron-flex iron-flex-alignment">/*{{{*/
    .facebook-button{
      background-color: rgba(63, 81, 181, 0.8);
      color: white;
      text-align: center;
    }
    .centered-text{
      text-align: center;
      color: #555555;
      font-weight: 300;
    }
    .periodiza-button{
      margin-top: 15px;
      background-color: var(--app-primary-color);
      color: #fff;
    }
    a{
      text-decoration: none;
      color: #ffc137;
    }
  </style><!--}}}-->

  <div class="layout vertical">
    <paper-input class="layout self-stretch"
      id="email"
      label="E-mail"
      value="{{email}}"
      auto-validate
    ></paper-input>
    <paper-input class="layout self-stretch"
      id="password"
      label="Senha"
      type="password"
      value="{{password}}"
      auto-validate
    ></paper-input>
    <paper-button class="layout self-stretch periodiza-button" raised on-tap="emailLogin">Entrar</paper-button>

    <p class="centered-text">ou </p>
    <paper-button class="layout self-stretch facebook-button" raised on-tap="facebookLogin">Entre com Facebook</paper-button>

    <p class="centered-text"> Não tem uma conta ainda? Cadastre-se <a href="/register">aqui</a>!</p>
  </div><!--}}}-->

</template><!--}}}-->

  <script>/*{{{*/
    "use strict";
    Polymer({
      is: 'login-view',

      properties: {//{{{
        routePath: {
          type: String,
          notify: true,
        },
        logged: Boolean,
        loading: Boolean,
        showBar: {
          type: Boolean,
          value: function(){return true},
        },
        email: String,
        password: String
      },//}}}

      observers: [],

      facebookLogin: function(){
        var provider = new firebase.auth.FacebookAuthProvider();
        firebase.auth().signInWithRedirect(provider).then(function(result){
          console.log('passei da tela do face?', result);
        });
      },

      emailLogin: function(){
        firebase.auth().signInWithEmailAndPassword(this.email, this.password)
        .catch(function(error) {
          if(error.code == 'auth/invalid-email'){
            this.$.email.invalid = true;
            this.$.email.errorMessage = 'Esse email não é válido.';
          }else if(error.code == 'auth/wrong-password'){
            this.$.password.invalid = true;
            this.$.password.errorMessage = 'Senha inválida';
          }else if(error.code == 'auth/user-not-found'){
            this.$.email.invalid = true;
            this.$.email.errorMessage = 'Email não cadastrado.';
          }else{
            console.error(error);
            alert(error);
          }
        }, this);
      },
    });
  </script><!--}}}-->
</dom-module>

