<!-- Imports go here --><!--{{{-->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymerfire/polymerfire.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../behaviors/periodiza-behaviors.html">
<!--}}}-->

<dom-module id="personal-info-view">
  <template><!--{{{-->
    <style include="iron-flex iron-flex-alignment">/*{{{*/
      paper-card{
        padding: 8px;
        margin: 8px;
        color: #757575;
        text-align: center;
      }
      #content{
        padding: 12px;
        margin: 8px;
      }
      .text-center{
        text-align: center;
      }
      .label{
        font-size: large;
        font-weight:bold;
        padding-top: 8px;
      }
      .small{
        font-size: small;
      }
      .calculated-info{
        padding: 8px;
      }
      .clickable{
        cursor: pointer;
      }
      paper-button{
        background-color: var(--app-primary-color);
        color: #fff;
      }
    </style><!--}}}-->

    <!-- Element DOM starts here -->

    <paper-card id="content" class="layout vertical text-center"><!--{{{ -->

      <h2> <!-- {{{ -->
        <span>Informações Pessoais</span>
        <template is="dom-if" if="{{!showExplanation}}">
          <iron-icon class="clickable" on-tap="_openExplanation" icon="icons:info-outline"></iron-icon>
        </template>
        <template is="dom-if" if="{{showExplanation}}">
          <iron-icon class="clickable" on-tap="_dismissExplanation" icon="icons:info"></iron-icon>
        </template>
      </h2> <!-- }}} -->
      <template is="dom-if" if="{{loading}}">
          <paper-spinner class="layout self-center" active></paper-spinner>
      </template>
      <template is="dom-if" if="{{showExplanation}}">  <!-- {{{ --> 
        <paper-card class="layout horizontal justified"> 
          <span>Coloque as informações pessoais do(a) seu(sua) aluno(a) aqui.</span>
          <iron-icon class="clickable" on-tap="_dismissExplanation" icon="icons:close"></iron-icon>
        </paper-card>
      </template> <!-- }}} -->
      <div class="label"> Dados Gerais </div> <!-- {{{ -->
      <paper-input 
          id="clientName"
          label="Nome do Aluno*" 
          value="{{profile.name}}" 
          placeholder="Nome do Aluno"
          required
          error-message="Campo obrigatório"
          always-float-label
      ></paper-input>
      <paper-input 
        label="Data de Nascimento" 
        value="{{profile.birthdate}}" 
        placeholder="Data de Nascimento"
        always-float-label
      ></paper-input>
      <paper-input 
        label="Altura" 
        value="{{profile.height}}" 
        placeholder="Altura" 
        always-float-label
      >
        <div suffix>m</div>
      </paper-input>
      <paper-input 
        label="Peso" 
        value="{{profile.weight}}" 
        placeholder="Peso" 
        always-float-label
      >
        <div suffix>kg</div>
      </paper-input>
      <template is="dom-if" if="{{bmi}}">
        <div class="calculated-info">
          <div class="small"> IMC </div>
          <div> {{bmi}} </div>
        </div>
      </template><!--}}} -->

      <div class="label"> Contato </div> <!-- {{{ -->
      <paper-input 
        label="E-mail" 
        value="{{profile.email}}" 
        placeholder="E-mail" 
        type="email"
        auto-validate
        error-message="Não é um e-mail válido"
        always-float-label
      ></paper-input>
      <paper-input 
        label="Telefone" 
        value="{{profile.phone}}" 
        placeholder="Telefone"
        always-float-label
      ></paper-input><!--}}} -->
      
      <div class="label"> Outras Informações </div> <!-- {{{ -->
      <paper-textarea 
        label="Observações" 
        value="{{profile.observations}}" 
        placeholder="Ex: Membro lesionado"
        always-float-label
      ></paper-textarea><!--}}} -->
      
      <paper-button class="button" on-tap="saveData">Salvar Informações</paper-button>

    </paper-card><!--}}} -->
  </template><!-- }}}-->

  <script>
    Polymer({
      is: 'personal-info-view',

      properties: {//{{{
        profile: {
          type: Object,
          value: function(){
            return {};
          }
        },

        bmi: {
          type: Number,
          computed:'_calculateBMI(profile.weight, profile.height)'
        },

        activated:{
          type: Boolean,
          value: false
        },

        loading:{
          type: Boolean,
          value: true
        }
      },//}}}

      observers: ['clientChanged(clientId, activated)'],
      behaviors:[
        PeriodizaBehaviors.ToastMessageBehavior,
        PeriodizaBehaviors.ExplanationBehavior
      ],
      clientChanged: function(clientId, activated){//{{{
        if(!activated){
          // activated evita que a funcão seja chamada enquanto o elemento não está ativo.
          //Essa variável é definida pelo iron-pages em user-view.
          return;
        }
        this.resetElement();
        this.fetchClientProfile();
      },//}}}

      resetElement: function(){
        this.profile = {};
        this.bmi = null;
        this.loading = true;
      },

      fetchClientProfile: function(){
        firebase.database().ref('trainee/'+this.clientId+'/perfil').once('value', function(snap){
          this.set("loading", false);
          if(snap.val() === null){
            return;
          }
          this.profile = snap.val();
        }, this);
      },

      saveData: function(){
        var context = this;
        context.loading = true;
        context.$$("paper-input[id=clientName]").validate();
        if(context.profile.name === ""){
          context.sendMessage('O campo "Nome do Aluno" não pode ficar vazio!');
          return;
        }
        firebase.database().ref('trainee/'+this.clientId+'/perfil').set(this.profile).then(function(response){
          context.loading = false;
          context.sendMessage("As informações foram salvas!");
        })
        .catch(function(error){
          context.loading = false;
          context.sendMessage("Não foi possível salvar os dados do seu aluno. Tente mais tarde.");
          console.log(error);
        });
      },

      _calculateBMI: function(weight, height){
        if(weight > 0 && height > 0){
          return  (weight / ( height * height) ).toFixed(2);
        }
      }, 
    });
  </script>
</dom-module>
