<!-- Imports go here --><!--{{{-->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/granite-clipboard/granite-clipboard.html">
<link rel="import" href="../../bower_components/moment-element/moment-with-locales-import.html">

<link rel="import" href="../behaviors/periodiza-behaviors.html">

<link rel="import" href="../training/trainings-view.html">
<link rel="import" href="../training/program-edit.html">

<!--}}}-->

<dom-module id="training-prescription-view">
  <template><!--{{{-->
    <style include="iron-flex iron-flex-alignment">/*{{{*/
      paper-card{
        padding: 8px;
        margin: 8px;
        color: #757575;
        text-align: center;
      }

      a{
        color: inherit;
        text-decoration: none;
        font-weight: bold;
      }
      .link{
        text-align: center;
        font-size: smaller;
        margin-bottom: 12px;
      }
      .blue{
        background-color: var(--google-blue-300);
      }
      .grey{
        background-color: var(--google-grey-500);
      }
      .red{
        background-color: var(--google-red-300);
      }
      paper-card{
        margin: 8px;
        padding: 8px;
      }
      paper-button{
        background-color: var(--app-primary-color);
        color:#fff;
        margin: 8px;
      }
      .text-center{
        text-align: center;
      }
      .clickable{
        cursor: pointer;
      }
      paper-button[disabled].blue{
        color: #efefef;
        background-color: var(--google-blue-100);
      }
      paper-button[disabled].red{
        color: #efefef;
        background-color: var(--google-red-100);
      }
      .buttons > paper-button{
        background-color: transparent;
        color: var(--app-primary-color);
      }

    </style><!--}}}-->

    <!-- Element DOM starts here -->
    <paper-card class="layout vertical">
      <h2 class="text-center"> 
        <span>Treinos</span>
        <template is="dom-if" if="{{!showExplanation}}">
          <iron-icon class="clickable" on-tap="_openExplanation" icon="icons:info-outline"></iron-icon>
        </template>
        <template is="dom-if" if="{{showExplanation}}">
          <iron-icon class="clickable" on-tap="_dismissExplanation" icon="icons:info"></iron-icon>
        </template>
      </h2>
      <template is="dom-if" if="{{loading}}">
        <paper-spinner class="layout self-center" active></paper-spinner>
      </template>
      <template is="dom-if" if="{{showExplanation}}">   
        <paper-card class="layout horizontal justified "> 
          <span>Esta é a área onde você prescreve os exercícios dos treinos que seu(sua) aluno(a) fará na semana.</span>
          <iron-icon class="clickable" on-tap="dismissExplanation" icon="icons:close"></iron-icon>
        </paper-card>
      </template>
      <!-- Link para aluno {{{ -->
      <div class="link">
        <template is="dom-if" if="{{trainingExists}}">
          <div class="layout horizontal justified">
            <a target="_blank" href="https://aluno.periodiza.com/?userKey={{clientId}}" id="userLink">
              <paper-button raised>Visualizar</paper-button>
            </a>
            <granite-clipboard text="https://aluno.periodiza.com/?userKey={{clientId}}">
              <paper-button on-tap="linkCopied" raised></iron-icon>Copiar Link</paper-button>
            </granite-clipboard>
          </div>
        </template>
        <template is="dom-if" if="{{!editing}}">
          <div class="layout horizontal justified">
            <paper-button raised on-tap="editTrainingProgram"></iron-icon>Editar Treino</paper-button>
            <!--<paper-button raised on-tap="saveToTrainerPrograms"></iron-icon>Salvar</paper-button>-->
            <paper-button on-tap="createNewProgram">Novo Treino</paper-button>
          </div>
        </template>
      </div>

      <!-- Training view {{{-->
      <template is="dom-if" if="{{!editing}}">
          <trainings-view program="{{userProgram}}"></trainings-view>
      </template>
      <!-- }}} -->

      <!-- Training edit {{{-->
      <template is="dom-if" if="{{editing}}">
        <div class="layout horizontal justified" data-analytics data-category="Editando Prescrição de treino">
          <paper-button aria-label="Cancelar Edição" class="grey link" on-tap="cancelEditing">
            <iron-icon icon="icons:undo"></iron-icon> 
            <span>Voltar</span>
          </paper-button>
          <paper-button aria-label="Salvar Edição" class="blue link" on-tap="saveTrainingProgram" disabled="{{!userProgram.length}}">
            <iron-icon icon="icons:save"> </iron-icon>
            <span>Salvar</span>
          </paper-button>
        </div>
        <div class="layout horizontal justified" data-analytics data-category="Editando Prescrição de treino">
          <paper-button aria-label="Utilizar Meus Programas de Treino" class="red link" disabled="{{!userProgram.length}}" on-tap="removeProgram">
            <iron-icon icon="icons:close"></iron-icon> 
            <span>Limpar</span>
          </paper-button>
          <paper-button aria-label="Utilizar Meus Programas de Treino" class="link" on-tap="loadCustomPrograms">
            <iron-icon icon="icons:content-paste"></iron-icon> 
            <span>Meus Treinos</span>
          </paper-button>
        </div>
        </div>
        
        <program-edit program="{{userProgram}}"></program-edit>
      </template>
      <!-- }}} -->

    </paper-card>


    <!-- Dialog para utilizar programa de treino {{{ -->
    <paper-dialog id="useCustomProgramDialog" style="overflow: auto;">
      <h2>Utilizar Programa</h2>
      <paper-dialog-scrollable>
        <paper-listbox attr-for-selected="value" selected="{{programKey}}" class="dropdown-content">
          <template is="dom-repeat" items="{{customTrainings}}" as="program">
            <paper-item class="clickable" value="{{program.key}}">{{program.name}}</paper-item>
          </template>
        </paper-listbox>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancelar</paper-button>
      </div>
    </paper-dialog><!--}}}-->
    <!-- }}} -->
  </template><!--}}}-->
  <script>//{{{
    Polymer({
      is: 'training-prescription-view',

      properties: {//{{{
        clientId: String,
        clientName: String,
        showExplanation:{
          type: Boolean,
          value: true
        },
        userProgram:{
          type: Array,
          notify: true
        },
        programInitialState:{
          type: Array,
          notify: true
        },
        editing: {
          type: Boolean,
          value: false
        },
        trainingExists: {
          type: Boolean,
          value: false
        },
        customTrainings:{
          type: Array
        },
        activated:{
          type: Boolean,
          value: false,
        },
        loading:{
          type: Boolean,
          value: true
        },
        programKey:{
          type: String,
          observer: 'trainingProgramChosen',
        },
      },//}}}

      observers: ['clientChanged(clientId, activated)'],

      behaviors:[
        PeriodizaBehaviors.ToastMessageBehavior,
        PeriodizaBehaviors.ExplanationBehavior
      ],

      clientChanged: function(clientId, activated){//{{{
        if(!activated){
          // activated evita que a funcão seja chamada enquanto o elemento não está ativo.
          //Essa variável é definida pelo iron-pages em user-view.
          return
        }

        this.resetElement();
        this.fetchTrainings(clientId);
        this.fetchClientName(clientId);
      },//}}}

      fetchTrainings: function(clientId){
        firebase.database().ref('trainee/' + clientId + '/trainingProgram')
          .once('value', function(snap){
            this.loading = false;
            if(snap.val() === null){
              this.set('trainingExists', false);
            }else{
              var data = snap.val();
              this.set("userProgram", []);
              data.forEach(function(training){
                this.push("userProgram", training);
                this.push("programInitialState", training);
              }.bind(this));
              this.set('trainingExists', true);
            }
          }.bind(this));
      },

      resetElement: function(){
        this.userProgram = [];
        this.programInitialState = [];
        this.editing = false;
        this.trainingExists = false;
        this.loading = true;
      },

      openExplanation: function(){
        this.set("showExplanation", true);
      },
      dismissExplanation: function(){
        this.set("showExplanation", false);
      },
      editTrainingProgram: function(){//{{{
        this.editing = true;
        this.trainingExists = false;
        this.programInitialState = Object.assign([], this.userProgram);
      },//}}}

      cancelEditing: function(){//{{{
        this.editing = false;
        this.set("userProgram", []);
        this.programInitialState.forEach(function(training){
          this.push("userProgram", training);
        }.bind(this));
        this.trainingExists = this.userProgram.length > 0 ? true : false;
      },//}}}

      loadCustomPrograms: function(){//{{{
        var userUid = firebase.auth().currentUser.uid;
        firebase.database().ref('trainer/' + userUid + '/training-programs-ids/').on('value', function(snap){
          var data = snap.val();
          var array = Object.keys(data).map(function (key) { return {key: key, name: data[key].name}; });
          this.set('customTrainings', array);
          this.$.useCustomProgramDialog.open();
        }, this);
      },//}}}

      trainingProgramChosen: function(){//{{{
        this.useCustomProgram();
      },//}}}

      useCustomProgram: function(){//{{{
        var userUid = firebase.auth().currentUser.uid;
        if(this.programKey){
          firebase.database().ref('trainer/' + userUid + '/training-programs/'+this.programKey).on('value', function(snap){
            var data = snap.val();
            if(!data || !data.trainings || data.trainings.length == 0){
              this.sendMessage("Treino selecionado não possuiu exercícios.");
              return;
            }
            for(var i = 0; i < data.trainings.length; i++){
              this.push('userProgram', data.trainings[i]);
            }
            this.$.useCustomProgramDialog.close();
            this.sendMessage("Treino importado!");
          }, this);
        }
      },//}}}

      importTraining: function(e){//{{{
        this.userProgram = e.model.trainings;
      },//}}}

      validTraining: function(program){//{{{
        return program.hasOwnProperty('name') 
               && program.name !== "" && program.hasOwnProperty('exercises') 
               && program.exercises.length > 0;
      },//}}}

      canSaveTrainingProgram: function(){//{{{
        if(this.userProgram.length === 0){
          return false;
        }
        else{
          var isValidTraining = true;
          this.userProgram.forEach(function(training){
            if(!this.validTraining(training)){
              isValidTraining = false;
            }
          }.bind(this));
          return isValidTraining;
        }
        // default case
        return false;
      },//}}}

      fetchClientName: function(){//{{{
        firebase.database().ref('trainee/' + this.clientId + '/perfil/name').once('value', function(snap){
          this.clientName = snap.val();
        }.bind(this));
      },//}}}

      fetchWeekdaysOfSession: function(){//{{{
        moment.locale('pt-BR');
        firebase.database().ref('trainee/' + this.clientId + '/periodization/weekdays-of-sessions').once('value', function(snap){
          console.log(snap.val());
          var days = snap.val();
          days.forEach(function(day){
            this.push("userProgram",{
              "name": moment().weekday(day).format('dddd'),
            });
          }.bind(this));
        }.bind(this));
      },//}}}
      saveToTrainerPrograms: function(){
        var trainerId = firebase.auth().currentUser.uid;
        var trainerProgramsPath = 'trainer/' + trainerId + '/training-programs';
        var trainerProgramsIdsPath = 'trainer/' + trainerId + '/training-programs-ids';
        var trainingProgram = {
          name: "Treino de " + this.clientName,
          description: "Treino prescrito para " + this.clientName,
          trainings: this.userProgram
        };
        var itemKey = firebase.database()
                        .ref(trainerProgramsPath).push().key;
        trainerProgramsPath = trainerProgramsPath + '/' + itemKey;
        trainerProgramsIdsPath = trainerProgramsIdsPath + '/' + itemKey;
        var multiPaths = {};
        multiPaths[trainerProgramsPath] = trainingProgram;
        multiPaths[trainerProgramsIdsPath] = true;
        firebase.database().ref().update(multiPaths)
        .then(function(response){
          this.sendMessage("Treino inserido em 'Meus Treinos'!");
        }, this)
        .catch(function(error){
          this.sendMessage("Treino não pode ser salvo. Tente novamente.");
        }, this);
      },
      saveTrainingProgram: function(){//{{{
        // Salva programa no BD
        if(!this.canSaveTrainingProgram()){
          this.sendMessage("Você não pode salvar treinos sem nome ou sem exercícios!");
          return;
        }
        this.loading = true;
        firebase.database().ref('trainee/' + this.clientId + '/trainingProgram')
          .set(this.userProgram).then(function(response){
            this.loading = false;
            this.programInitialState = Object.assign([], this.userProgram);
            this.trainingExists = this.userProgram.length > 0 ? true : false;
            this.editing = false;
            this.sendMessage("Treinos salvos!");
            // Gera visualização visualização de treinos 
            // que pode ser acessada na área do aluno.
            AuxiliarMethods.generateSessions(this.clientId);
          }.bind(this))
          .catch(function(error){
            this.loading = false;
            this.sendMessage("Treinos não puderam ser salvos. Tente novamente mais tarde.");
            console.log(error);
          }, this);
      },//}}}
      removeProgram: function(){
        this.set("userProgram", []);
      },
      createNewProgram: function(){
        this.set("editing", true);
        this.set("trainingExists", false);
        this.set("userProgram", []);
        this.fetchWeekdaysOfSession();
      },
      linkCopied: function(){//{{{
        this.sendMessage("Link copiado!");
      },//}}}
    });
  </script><!-- }}} -->
</dom-module>
