<!-- Imports go here -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="periodization/periodization-view.html">
<link rel="import" href="training-prescription-view.html">
<link rel="import" href="personal-info-view.html">
<link rel="import" href="session/micro-info-view.html">
<link rel="import" href="rm/max-load-view.html">

<dom-module id="user-view">
  <template>
    <style>/*{{{*/
      paper-tabs {
        --paper-tabs-selection-bar-color: #f9bc36;
        background-color: #3bbab5;
        color: #fff;
      }
    </style><!--}}}-->

    <!-- Element DOM starts here -->

    <app-location route="{{path}}" query-params="{{urlQueries}}"></app-location>

    <app-route
      route="{{path}}"
      pattern="/user/:tabSelected"
      data="{{routeData}}"
    ></app-route>

    <!-- paper-tabs -->
      <paper-tabs attr-for-selected="name" selected="{{routeData.tabSelected}}">
        <paper-tab data-analytics data-category="Tab Info Pessoal"
        name="personal-info">Pessoal</paper-tab>
        <paper-tab data-analytics data-category="Tab Periodização"
        name="periodization">Periodização</paper-tab>
        <template is="dom-if" if="{{periodizationExists}}">
          <paper-tab data-analytics data-category="Tab Treinos"
          name="trainings">Treinos</paper-tab>
          <paper-tab data-analytics data-category="Tab RMs"
          name="rms">Cargas</paper-tab>
          <paper-tab data-analytics data-category="Tab Sessões"
          name="sessions">Sessões</paper-tab>
        </template>
      </paper-tabs>

    <iron-pages attr-for-selected="name" selected="{{routeData.tabSelected}}" selected-attribute="activated">
      <personal-info-view
        name="personal-info"
        client-id="{{urlQueries.a}}"
        data-analytics data-category="Aluno/Informações Pessoais'"
      ></personal-info-view>
      <periodization-view
        name="periodization"
        on-periodization-created="periodizationCreated"
        client-id="{{urlQueries.a}}"
        periodization-exists="{{periodizationExists}}"
        data-analytics data-category="Aluno/Periodização"
      ></periodization-view>
      <micro-info-view
        name="sessions"
        client-id="{{urlQueries.a}}"
        data-analytics data-category="Aluno/Sessão"
      ></micro-info-view>
      <training-prescription-view
        name="trainings"
        client-id="{{urlQueries.a}}"
        data-analytics data-category="Aluno/Treinos"
      ></training-prescription-view>
      <max-load-view
        name="rms"
        client-id="{{urlQueries.a}}"
        data-analytics data-category="Aluno/RMs"
      ></max-load-view>
    </iron-pages>
  </template>

  <script>
    Polymer({
      is: 'user-view',

      properties: {//{{{
        tabSelected:{
          type: String,
          value: function(){return 'sessions';}
        },
        routeData:{
          type: Object,
        },
        urlQueries:{
          type: Object,
        },
        periodizationExists:{
          type: Boolean,
          value: function(){return false;}
        },
        activated:{
          type: Boolean,
          value: function(){return false;}
        },
      },//}}}

      periodizationCreated: function(e){//{{{
        this.set('periodizationExists', e.detail.periodizationExists);
        this.set('path.path', '/user/sessions');
      },//}}}

      observers: ['checkPeriodization(urlQueries.a, activated)'],

      checkPeriodization: function(clientId, activated){//{{{
        if(!activated){
          // activated evita que a funcão seja chamada enquanto o elemento não está ativo.
          //Essa variável é definida pelo iron-pages em periodiza-app.
          return;
        }

        firebase.database().ref('trainee/'+clientId+'/periodization').once('value',function(snap){
          if(snap.exists()){
            this.set('periodizationExists', true);
          }else{
            this.set('path.path', '/user/periodization');
            this.set('periodizationExists', false);
          }
        }, this);
      },//}}}
    });
  </script>
</dom-module>
