<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="programs-list.html">

<dom-module id="programs-view">
  <template>
    <style>/*{{{*/
/*      :host {
        display: block;
        padding: 10px;
      }*/
      .card {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding: 8px;
        margin: 12px;
        border-radius: 5px;
        background-color: #fff;
        color: #757575;
      }
      h1 {
        text-align: center;
        font-size: 22px;
        margin: 16px 0;
        color: #212121;
      }
    </style><!--}}}-->

    <programs-list></programs-list>

  </template>

  <script>
    Polymer({
      is: 'programs-view',

    });
  </script>
</dom-module>
