<!-- Imports go here -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../behaviors/periodiza-behaviors.html">
<link rel="import" href="../AuxiliarMethods/auxiliar-methods.html">
<link rel="import" href="../training/program-edit.html">

<dom-module id="program-view">
  <template>
    <style is="custom-style">/*{{{*/
      :host{
        text-align: center;
      }
      paper-card{
        @apply(--layout-vertical);
        padding: 8px;
        margin:8px;
      }
      #description{
        --paper-input-container-input:{
          font-size: 14px;
        };
        --paper-input-container-label{
          font-size: 24px;
        }
      }
      .blue{
        color: var(--google-blue-300);
      }

      .red{
        color: var(--google-red-300);
      }

      .pull-right{
        @apply(--layout-self-end);
      }
      .horizontal{
        @apply(--layout-horizontal);
        @apply(--layout-center-center);
      }
    </style><!-- }}} -->

    <app-location query-params="{{urlQueries}}"></app-location>

    <template is="dom-if" if="{{loaded}}">
      <paper-card>
        <div class="horizontal" data-analytics data-category="Editando Programa de treino">
          <a href="/programs">
            <paper-icon-button aria-label="Cancelar Edição" class="red" icon="undo" on-tap="cancelEditing"></paper-icon-button>
          </a>
          <h4>{{programName}}</h4>
          <paper-icon-button aria-label="Salvar Edição" class="blue" icon="save" on-tap="saveTrainingProgram"></paper-icon-button>
        </div>
        <paper-input label="Descrição" value="{{description}}" placeholder="Descrição do Programa de Treino"></paper-input>
        <div>Treinos</div>
        <program-edit program="{{trainings}}"></program-edit>
      </paper-card>
    </template>
  </template><!--}}}-->

  <script>
    Polymer({
      is: 'program-view',

      properties: {//{{{
        programName: {
          type: String,
          value: ''
        },
        trainings:{
          type: Array,
          notify: true,
          value: function(){
            return [];
          }
        },
        description:{
          type: String,
          value: ''
        },
        programInitialState:{
          type: Object,
          notify: true,
          value: function(){
            return {};
          }
        },
        loaded: {
          type: Boolean,
          value: false
        },
        urlQueries:{
          type: Object,
          observer: 'programChanged',
        },
        activated:{
          type: Boolean,
          value: false
        },
        programId:{
          type: String,
          value: ''
        }
      },//}}}

      behaviors:[PeriodizaBehaviors.ToastMessageBehavior],
      programChanged: function(newQueries, oldQueries){//{{{
        if(!this.activated || JSON.stringify(newQueries) === JSON.stringify(oldQueries)){//{{{
          // activated evita que a funcão seja chamada enquanto o elemento não está ativo.
          //Essa variável é definida pelo iron-pages em periodiza-app.

          // A comparação entre o valor antigo e o novo é usado pra evitar que o observer
          //seja chamado múltiplas vezes.

          // Possível problema: a rota mudar antes do activated, mas acho q é impossível.
          return
        }//}}}

        this.cleanElement();
        this.programId = newQueries.key;
        this.fetchTrainingProgram();
      },//}}}
      fetchTrainingProgram: function(){
        var dbRef = firebase.database().ref('trainer/' + firebase.auth().currentUser.uid + '/training-programs/'+this.programId); 
        dbRef.once('value', function(snap){
          this.loaded = true;
          var data = snap.val();
          this.programName = data.hasOwnProperty('name') ? data.name : '';
          this.trainings = data.hasOwnProperty('trainings') ? data.trainings : [];
          this.description = data.hasOwnProperty('description') ? data.description : '';
          this.set('programInitialState', {
            programName: this.programName, 
            trainings: this.trainings, 
            description: this.description
          });
        }, this).catch(function(error){
          console.log(error);
        });
      },
      saveTrainingProgram: function(){//{{{
        // Salva programa no BD
        var context = this;
        var data = {name: this.programName, trainings: this.trainings, description: this.description};
        var dbRef = firebase.database().ref('trainer/' + firebase.auth().currentUser.uid + '/training-programs/'+this.programId); 
        dbRef.set(data)
          .then(function(response){
            context.set('programInitialState', {programName: context.programName, trainings: context.trainings, description: context.description});
            context.sendMessage("Treino Salvo!");
          })
          .catch(function(error){
            context.sendMessage("Treino não pode ser salvo. Tente novamente.");
            console.log(error);
          });
      },//}}}
      cancelEditing: function(){//{{{
        this.restoreInitialSetting();
      },//}}}
      restoreInitialSetting: function(){//{{{
        this.set('programName', this.programInitialState.programName);
        this.set('description', this.programInitialState.description);
        this.set('trainings', []);
        this.set('trainings', this.programInitialState.trainings);
      },//}}}
      cleanElement: function(){
        this.loaded = false;
        this.programName = '';
        this.trainings = [];
        this.description = '';
        this.programInitialState = {};
      }
    });
  </script>
</dom-module>
