<!-- Imports --><!--{{{-->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../AuxiliarMethods/data-trainings.html">
<!--}}}-->

<dom-module id="programs-list">
  <template><!--{{{-->
    <style>/*{{{*/
      a{
        color: inherit;
        text-decoration: none;

        // Usado para aumentar a área de click do item, antes tinha que clicar no nome.
        display: block;
        width: 85%;
      }
      .userItem{
        display: flex;
        justify-content: space-between;
      }
      paper-icon-button.delete{
        padding: 0;
      }
      paper-button#addButton{
        @apply(--layout-vertical);
        background-color: rgba(255, 190, 51, 0.95);
        color: #fff;
      }
      paper-spinner[active]{
        left: 45%;
        display: inline-block;
        --paper-spinner-layer-1-color: #ffc137;
        --paper-spinner-layer-2-color: #3bbab5;
        --paper-spinner-layer-3-color: #ffc137;
        --paper-spinner-layer-4-color: #3bbab5;
      }
      paper-item{
        border-bottom: 1px solid #ccc;
      }
      paper-spinner{
        display: none;
      }
      paper-listbox{
        padding: 0;
      }
      paper-fab {
        --paper-fab-background: var(--app-primary-color);
        position: absolute;
        bottom: 1em;
        right: 1em;
      }
    </style><!--}}}-->

    <paper-spinner active="{{loading}}"></paper-spinner>

    <!-- Lista de Programas de treino {{{ -->
    <data-trainings empty={{emptyList}} loading={{loading}}
    programs="{{programs}}"></data-trainings>

    <template is="dom-if" if="{{!loading}}">
      <template is="dom-repeat" items="{{programs}}" as="program">
        <paper-listbox selectable="none">
          <paper-item class="userItem">
            <a href="/program?key={{program.$key}}">
              <iron-icon icon="icons:assignment"></iron-icon>
              <span>{{program.name}}</span>
            </a>
            <paper-icon-button class="delete" on-tap="openDeleteDialog"
            icon="delete"></paper-icon-button>
          </paper-item>
        </paper-listbox>
      </template>
      <template is="dom-if" if="{{emptyList}}">
        <p style="text-align: center;">Nenhum Programa de treino encontrado.</p>
      </template>
    </template>

    <paper-fab
      icon="icons:add"
      on-tap="addProgramDialog"
      aria-label="Adicionar Programa">
    </paper-fab>

    <!-- Dialog para adicionar novo item {{{ -->
    <paper-dialog id="addDialog" style="overflow: auto;">
        <h2 style="text-align: center;">Novo Programa</h2>

        <paper-input autofocus required auto-validate error-message="Campo obrigatório"
        id="name" label="Nome"
        type="text" value="{{newItemName}}"></paper-input>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancelar</paper-button>
        <paper-button on-tap="addProgram">Adicionar</paper-button>
      </div>
    </paper-dialog ><!--}}}-->

    <!-- Dialog para deletar item {{{ -->
    <paper-dialog id="deleteDialog" style="overflow: auto;">
      <h3>Deletar {{selectedItem.name}}?</h3>
      <div class="buttons">
        <paper-button dialog-dismiss autofocus>Cancelar</paper-button>
        <paper-button dialog-confirm on-tap="deleteProgram">Deletar</paper-button>
      </div >
    </paper-dialog ><!--}}}-->

  </template><!--}}}-->

  <script>//{{{
    Polymer({
      is: 'programs-list',

      properties:{
        newItemName:{
          type: String,
          value: ''
        },
        programs:{
          type: Array
        },
        emptyList:{
          type: Boolean
        }
      },

      openDeleteDialog: function(e){//{{{
        console.log('del', e, e.model.item, this.selectedItem);
        var i = e.model.program;
        i.index = e.model.index;
        this.set('selectedItem', i);
        this.$.deleteDialog.open();
      },//}}}

      addProgramDialog: function(){
        this.$.addDialog.open();
      },

      addProgram: function(){//{{{
        // O elemento data-trainings é responsável por adicionar programa de treino no bd.
        var name = this.newItemName.trim();
        if(this.newItemName.trim() !== ''){
          this.$$('data-trainings').addProgram(name);
          // Fecha o dialog e limpa os campos de edicao<!--{{{-->
          this.$$('#addDialog').close();
          this.newItemName = '';
          this.$$('#name').invalid = false;
          this.emptyList = false;
        }
        else{
          this.newItemName = name;
        }
      },//}}}

      deleteProgram: function(){//{{{
        // O elemento data-trainings é responsável por deletar Programa de treino no bd.
        this.$$('data-trainings').deleteProgram(this.selectedItem.index);
      },//}}}
    });
  </script><!--}}}-->
</dom-module>
