<!-- Imports go here -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">

<dom-module id="admin-panel">
  <template>
    <style>
      :host {

      }
      paper-tabs {
        background-color: #3bbab5;
        color: #fff;
      }
      paper-item{
        border-bottom: 1px solid #ccc;
      }
      --paper-item-secondary{
        font-size: small;
      }
      #user{
        @apply(--layout-vertical);
      }
      paper-dialog{
        overflow-x: break-line;
      }
    </style>

    <!-- Element DOM starts here -->
    <app-route
      route="{{route}}"
      data="{{routeData}}"
      tail="{{routetail}}"
    ></app-route>

    <paper-tabs selected="{{tabSelected}}">
      <paper-tab>Users</paper-tab>
      <paper-tab>Programs</paper-tab>
    </paper-tabs>

    <iron-pages selected="{{tabSelected}}">
      <div id="user">
        <paper-card heading="Alunos">
          <paper-listbox >
            <template is="dom-repeat" items="{{students}}" as="student">
                  <paper-item on-tap="openDialog">
                    <paper-item-body two-line>
                      <div><span>{{student.name}}</span><span>{{student.problem}}</span></div>
                      <div secondary> {{student.data}}</div>
                    </paper-item-body>
                  </paper-item>
            </template>
          </paper-listbox>
        </paper-card>

        <paper-card heading="Personais">
          <paper-listbox>
            <template is="dom-repeat" items="{{trainers}}" as="trainer">
                  <paper-item on-tap="openDialog">
                    <paper-item-body two-line>
                      <div>{{trainer.name}}</div>
                      <div secondary> {{trainer.data}}</div>
                    </paper-item-body>
                  </paper-item>
            </template>
          </paper-listbox>
        </paper-card>
      </div>
      <div>
        <h3>Treinos</h3>
      </div>
    </iron-pages>

    <paper-dialog id="viewInfo" restore-focus-on-close>
      <h3> {{person.name}} </h3>
      <div> {{person.data}} </div>
      <div class="buttons">
        <paper-button dialog-dismiss >Cancelar</paper-button>
        <paper-button dialog-confirm >Pronto</paper-button>
      </div>
    </paper-dialog>
  </template>


  <script>
    Polymer({
      is: 'admin-panel',

      properties: {
        options: {
          type: Array,
          value: function(){
            return ["user", "programs"];
          }
        },
        tabSelected: {
          type: Number,
          value: 0,
          observer: '_tabChanged'
        },
        students:{
          type: Array,
          value: function(){
            return [];
          }
        },
        trainers:{
          type: Array,
          value: function(){
            return [];
          }
        },
        person:{
          type: Object
        }
      },
      _tabChanged: function(newValue, oldValue){
        var context = this;
        console.log(this.tabSelected);
        var ref = this.options[this.tabSelected];
        var database = firebase.database().ref(ref);
        var trainingbase = firebase.database().ref('training-program');
        var baseref = firebase.database().ref('trainee/');

        trainingbase.once('value').then(function(snap){
          console.log(snap);
        });
        database.once('value').then(function(snap){
          console.log(ref);
          var count = 0;
          var okCount = 0;
          for(var person in snap.val()){
            if(snap.val()[person].hasOwnProperty('perfil')){
              if(snap.val()[person].perfil.hasOwnProperty('cref')){
                if(snap.val()[person].hasOwnProperty('training-programs')){
                  for(var training in snap.val()[person]['training-programs']){
                    console.log(training);
                  }
                }
                context.push('trainers', { name: person, data: JSON.stringify(snap.val()[person], null, 3)});
              }
            }
            // else if(snap.val()[person].hasOwnProperty('clients')){
            //     context.push('students', { name: person, data: JSON.stringify(snap.val()[person]).replace(/,/g, ', '), problem: " - Irregular User" } );
            // }
            // else if(!snap.val()[person].hasOwnProperty('periodization')){
            //     context.push('students', { name: person, data: JSON.stringify(snap.val()[person]).replace(/,/g, ', '), problem: " - No Periodization" } );
            // }
            // else{
            // //     context.push('students', { name: person, data: JSON.stringify(snap.val()[person]).replace(/,/g, ', '), problem: " - Seems Ok" } );
            //     okCount++;
            // }
            // count++;
          }
          // context.data = snap.val();
          console.log(okCount, context.students.length);

        });
      },

      openDialog: function(e){
        var context = this;
        var person = e.model.trainer || e.model.student;
        console.log(person);
        person.data = JSON.stringify(person.data).replace(/,/g, ', ');
        context.set("person", person);
        context.$.viewInfo.open();
      },

      removeCref: function(e){
        var context = this;
        var trainer = e.model.trainer;
        trainer.data.cref = "";
        console.log(trainer);
        var key = e.model.trainer.name;

      }
    });
  </script>
</dom-module>
