<!-- Imports go here -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="training-edit.html">

<dom-module id="program-edit">
  <template>
    <style>

      .trainings{
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
        @apply(--layout-around-justified);
        padding: 8px;
      }

      .pull-right{
        position: absolute;
        top: 8px;
        right: 8px;
      }
      paper-card{
        @apply(--layout-horizontal);
        padding: 12px;
        margin: 8px;
      }
      paper-fab {
        --paper-fab-background: var(--app-primary-color);
        @apply(--layout-self-center);
      }

      .vertical{
        @apply(--layout-vertical);
      }
    </style>

    <!-- Element DOM starts here -->
    <div class="trainings">
      <template is="dom-repeat" items="{{program}}" as="training">
        <paper-card>
            <paper-icon-button icon="delete" on-tap="removeTraining" class="pull-right"></paper-icon-button>
            <training-edit training="{{training}}"></training-edit>
        </paper-card>
      </template>
      <paper-fab icon="add" on-tap="addTraining"></paper-fab>
    </div>

  </template>

  <script>
    Polymer({
      is: 'program-edit',

      properties: {
        program: {
          type: Array,
          notify: true
        }
      },

      ready: function(){

      },

      addTraining: function(e){
        this.push('program', {name: String.fromCharCode(this.program.length + 65), exercises: []});
      },

      removeTraining: function(e){
        var index=e.model.index;
        if(index != -1){
          this.splice('program', index, 1);
        }
      }
    });
  </script>
</dom-module>
