<!-- Imports go here -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="training-view.html">

<dom-module id="trainings-view">
  <template>
    <style>
      :host{
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
        @apply(--layout-around-justified);
      }
    </style>

    <!-- Element DOM starts here -->
    <template is="dom-repeat" items="{{program}}" as="training">
      <paper-card>
          <training-view training="{{training}}"></training-view>
      </paper-card>
    </template>
  </template>

  <script>
    Polymer({
      is: 'trainings-view',

      properties: {
        program: {
          type: Array,
          notify: true
        }
      }
    });
  </script>
</dom-module>
