<!-- Imports go here -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<dom-module id="training-view">
  <template>
    <style>
      :host {
        padding: 8px;
        text-align: center;
        @apply(--layout-vertical);
        min-width: 260px;
      }
      .form-group-horizontal{
        @apply(--layout-horizontal);
        /*@apply(--layout-center-center);*/
      }
      #name{
          font-size:24px;
      }
      #observation{
          font-size:14px;
      }
      .small{
        font-size: small;
      }
    </style>

    <!-- Element DOM starts here -->
    <div id="name"> {{training.name}} </div>

    <div id="observation">{{training.observation}}</div>

    <h3 class="small"> Exercícios (<span>{{training.exercises.length}}</span>)</h3>

    <template is="dom-repeat" items="{{training.exercises}}" as="exercise">
      <div>{{exercise}}</div>
    </template>
  </template>

  <script>
    Polymer({
      is: 'training-view',

      properties: {
        training: Object,
        value: function(){
          return {
            name: "",
            observation: "",
            exercises: []
          };
        }
      },
      ready: function(){
        if(this.training && !this.training.hasOwnProperty("exercises")){
          this.set("training.exercises", []);
        }
      }
    });
  </script>
</dom-module>
