<!-- Imports go here -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">

<dom-module id="training-edit">
  <template>
    <style>
      :host {
        text-align: center;
      }
      .small{
        font-size: small;
      }
      .form-group-horizontal{
        @apply(--layout-horizontal);
        @apply(--layout-center);
      }
      paper-textarea{
        width: calc(100% - 9px);
      }
      .training-header{
        font-size: 16px;
      }
    </style>

    <!-- Element DOM starts here -->
      <div class="training-header">
        <paper-input label="Nome do Treino" value="{{training.name}}"></paper-input>
      </div>

      <div class="form-group-horizontal">
        <paper-textarea label="Observações" value="{{training.observation}}" placeholder="Detalhes do Treino"></paper-textarea>
      </div>

      <h3 class="small"> Exercícios (<span>{{training.exercises.length}}</span>)</h3>

      <template is="dom-repeat" items="{{training.exercises}}" as="exercise">
          <div class="form-group-horizontal">
            <paper-input value="{{exercise}}" placeholder="nome do exercício"></paper-input>
            <paper-icon-button icon="arrow-upward" on-tap="moveExerciseUp"></paper-icon-button>
            <paper-icon-button icon="arrow-downward" on-tap="moveExerciseDown"></paper-icon-button>
            <paper-icon-button icon="delete" on-tap="removeExercise"></paper-icon-button>
          <div>
      </template>

      <div class="form-group-horizontal">
        <paper-input id="exerciseToBeAdded" placeholder="Exercício" value="{{exerciseToBeAdded}}"  on-keydown="insertWithEnter"></paper-input>
        <paper-icon-button id="addExercise" icon="add"  on-tap="insertIntoTraining"></paper-icon-button>
      </div>
  </template>

  <script>
    Polymer({
      is: 'training-edit',

      properties: {
        training: {
          type: Object,
          notify: true,
          value: function(){
            return {
              name: "",
              observation: "",
              exercises: []
            };
          }
        },
        exerciseToBeAdded: {
          type: String,
          value: ""
        }
      },

      ready: function(){
        if(this.training && !this.training.hasOwnProperty("exercises")){
          this.set("training.exercises", []);
        }
      },
      moveExerciseDown: function(e){
        var index = e.model.index;
        var next = index + 1;
        var last = this.training.exercises.length -1;
        if(index < last){
          var auxArray = this.training.exercises;
          var auxValue = auxArray[index];
          auxArray[index] = auxArray[next];
          auxArray[next] = auxValue;
          // forçar refresh no DOM
          this.set('training.exercises', []);
          this.set('training.exercises', auxArray);
        }
      },
      inputBlurred: function(e){
        console.log('inputBlurred');
      },
      moveExerciseUp: function(e){
        var index = e.model.index;
        var prev = index - 1;
        if(index > 0){
          var auxArray = this.training.exercises;
          var auxValue = auxArray[index];
          auxArray[index] = auxArray[prev];
          auxArray[prev] = auxValue;
          // forçar refresh no DOM
          this.set('training.exercises', []);
          this.set('training.exercises', auxArray);
        }
      },
      insertIntoTraining: function(){
        if(this.exerciseToBeAdded !== ''){
          this.push('training.exercises', this.exerciseToBeAdded);
          this.set('exerciseToBeAdded', '');
        }

        // Registra evento no analytics
        dataLayer.push({
          'event': 'Custom Event',
          'eventCategory': "Training",
          'eventAction': 'add exercise',
          'eventLabel': this.exerciseToBeAdded
        })
      },
      insertWithEnter: function(e){
        if(e.keyCode === 13){
          this.insertIntoTraining();
        }
      },
      removeExercise: function(e){
        var index= e.model.index;
        if(index != -1){
          this.splice('training.exercises', index, 1);
        }

        // Registra evento no analytics
        dataLayer.push({
          'event': 'Custom Event',
          'eventCategory': "Training",
          'eventAction': 'remove exercise',
          'eventLabel': this.exerciseToBeAdded
        })
      }
    });
  </script>
</dom-module>
