<!-- Imports --><!--{{{-->
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/app-storage/app-network-status-behavior.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/polymerfire/polymerfire.html">
<link rel="import" href="../bower_components/moment-element/moment-with-locales-import.html">

<link rel="import" href="auth/auth-manager.html">
<link rel="import" href="auth/auth-views.html">
<!--}}}-->

<dom-module id="periodiza-app">
  <template><!--{{{-->
    <style> /*{{{*/
      :host {
        display: block;
        --app-primary-color: #3bbab5;
        --app-secondary-color: #ffc137;
      }

      app-header {
        background-color: var(--app-primary-color);
        color: #fff;
      }
      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
      app-drawer app-toolbar{
        border-bottom: 1px solid rgba(0, 0, 0, 0.22);
      }
      .drawer-list a {
        display: block;
        padding: 0 16px;
        line-height: 40px;
        text-decoration: none;
        color: #000;
      }
      .drawer-list a.iron-selected {
        color: white;
        font-weight: bold;
        background-color: var(--app-primary-color);
      }
      .drawer-list a.subroute {
        padding-left: 32px;
      }
      .dropdown-content {
        color: black;
        background-color: white;
        line-height: 20px;
        border-radius: 3px;
        box-shadow: 0px 2px 6px #ccc;
        padding: 0.5em 1em;
        max-width: 250px;
        margin: 10px 10px 0 0;
      }
      .app-logo{
        width: 48px;
        height: 48px;
      }
    </style><!--}}}-->

    <!-- App route --><!--{{{-->
    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{routeData}}"
      tail="{{subroute}}"
    ></app-route><!--}}}-->

    <!-- Responsável por gerenciar a autenticação do usuário. -->
    <auth-manager on-callpagechanged="_pageChanged" is-loading="{{isLoading}}" logged="{{logged}}" user="{{user}}"></auth-manager>

    <template is="dom-if" if="{{!logged}}"><!-- Mostra views de login ou cadastro se não logado. -->
      <auth-views route="{{route}}" logged="{{logged}}" loading="{{isLoading}}"></auth-views>
    </template>

    <!-- Shell {{{ -->
    <template is="dom-if" if="{{logged}}"><!-- Mostra Conteúdo se logado. -->
      <app-drawer-layout fullbleed><!--{{{-->
        <!-- Drawer content -->
        <app-drawer swipe-open data-analytics data-category="Drawer area"><!--{{{-->
          <app-toolbar>
            <iron-image sizing="contain" class="app-logo" alt="Logo Periodiza" src="/images/manifest/icon-48x48.png"></iron-image> &nbsp; Periodiza
          </app-toolbar>
          <div class="drawer-content">
            <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
              <template is="dom-repeat" items="{{drawerMenu}}" as="item">
                <a name="{{item.name}}" href="{{item.href}}" data-analytics data-category="Menu item">
                  <iron-icon icon="{{item.icon}}"></iron-icon>
                  <span>{{item.text}}</span>
                </a>
              </template>

              <!-- Opção retirada pois os programas de treino são criados na tela do aluno. -->
              <!-- <a name="programs" href="/programs">Programas de Treinos</a> -->
            </iron-selector>
          </div>
        </app-drawer><!--}}}-->

        <!-- Main content -->
        <app-header-layout has-scrolling-region data-analytics data-category="Content area"><!--{{{-->

          <app-header fixed data-analytics data-category="Header area"><!--{{{-->
            <app-toolbar>
              <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
              <div title>{{currentPage}}</div>
              <template is="dom-if" if="{{!onlineState}}">
                <paper-icon-button icon="cloud-off"></paper-icon-button>
              </template >
            </app-toolbar>
          </app-header><!--}}}-->

          <!-- online: [[onlineState]] -->
          <iron-pages role="main" selected="[[page]]" attr-for-selected="name" selected-attribute="activated">

            <dashboard-view
              name="dashboard"
              data-analytics
              data-category="Página Principal"
            ></dashboard-view>

            <users-view
              name="users"
              data-analytics
              data-category="Página Usuários"
            ></users-view>

            <user-view
              name="user"
              route="{{subroute}}"
              data-analytics
              data-category="Página Detalhes do Usuário"
            ></user-view>

            <account-view
              name="account"
              display-name="{{user.displayName}}"
              email="{{user.email}}"
              photo="{{user.photoURL}}"
              route="{{subroute}}"
              data-analytics
              data-category="Página Conta"
            ></account-view>

            <programs-view
              name="programs"
              data-analytics
              data-category="Página Meus Treinos"
            ></programs-view>

            <program-view
              name="program"
              subroute="{{subroute}}"
              data-analytics
              data-category="Página Detalhes de Programa de Treino"
            ></program-view>

            <training-view
              name="training"
              subroute="{{subroute}}"
              data-analytics
              data-category="Página Treino"
            ></training-view>

            <inactive-view
              name="inactive"
              data-analytics
              data-category="Página Usuário Inativo"
            ></inactive-view>

          </iron-pages>

        </app-header-layout><!--}}}-->
      </app-drawer-layout><!--}}}-->

      <paper-dialog id="cref"><!--{{{-->
        <h2>CREF</h2>
        <p>Por favor insira o número de seu CREF.</p>
        <paper-input label="Número CREF" type="text" value="{{cref}}"></paper-input>
        <paper-button dialog-confirm on-tap="registerCref">Registrar</paper-button>
      </paper-dialog><!--}}}-->
    </template><!-- Shell }}}-->

    <paper-toast id="toast" text="{{toastMessage}}"></paper-toast>

    <iron-signals on-iron-signal-toastmessage="_showToast"></iron-signals>

  </template><!--}}}-->

  <script>
    "use strict";
    // Manda todos os clicks para o Tag Manager. {{{
    document.onclick = function(e){
      // Funcão que procura por data-analytics em objeto clicado ou pais, avós, etc.

      var elementsInDepth = Polymer.dom(event).path;
      var maxCheck = elementsInDepth.length > 50 ? 50 : elementsInDepth.length;
      var counter = 0;
      var el;
      var foundAnalyticsElement = false;
      while(!foundAnalyticsElement && counter < maxCheck){
        el = elementsInDepth[counter];

        if('dataset' in el && 'analytics' in el.dataset){
          foundAnalyticsElement = true;
        }
        counter++;
      }

      // Define label com identificador do elemento. Por exemplo paper-item.userItem#aluno
      var labelText = elementsInDepth[0].innerText.trim() + '*'
      elementsInDepth.slice(0,counter).forEach(function(element){
        if('localName' in element){
          labelText += element.localName;
          labelText += element.id ? '#' + element.id : '';
          if('classList' in element){
            labelText += '.' + element.classList.value.replace(/ /g, '.');
          }
          labelText += ', ';
        }
      })

      if('dataset' in el && 'value' in el.dataset){
        var eventValue = el.dataset.value || '';
      }

      var customEvent = {
        'event':'Custom Event',
        'eventCategory': foundAnalyticsElement ? el.dataset.category : 'Area desconhecida',
        'eventAction': 'Click',
        'eventLabel': labelText,
        'eventValue': eventValue
      }

      dataLayer.push(customEvent);
    }//}}}

    // Lista dos nomes das páginas e suas respectivas traduções
    var pageNamesTranslated = {
      users:    "Alunos",
      programs: "Meus Treinos",
      program:  "Treino",
      training: "Exercícios do Programa",
      user:     "Detalhes do Aluno",
      session:  "Sessão",
      inactive: "Inativo",
      account:  "Conta"
    };

    Polymer({
      is: 'periodiza-app',

      properties: {//<!--{{{-->
        user: {
          type: Object
        },

        page: {
          type: String,
          reflectToAttribute: true,
          observer: '_pageChanged'
        },
        currentPage: {
          type: String
        },
        drawerMenu:{
          type: Array,
          value: function(){
            return [
              {"name": "users","href": "/users", "text": "Alunos", "icon": "social:group"},
              {"name": "programs","href": "/programs", "text": "Meus Treinos", "icon": "icons:assignment"},
              {"name": "account","href": "/account", "text": "Conta", "icon": "icons:account-circle"},
            ];
          }
        },
        toastMessage:{
          type: String,
          value: "Conectando..."
        }
      },//<!--}}}-->

      behaviors: [Polymer.AppNetworkStatusBehavior],

      observers: [//{{{
        '_routePageChanged(routeData.page, user)',
        'userChanged(user)'
      ],//}}}

      ready: function(){//<!--{{{-->

        // Verifica se usuário está conectado.<!--{{{-->
        firebase.database().ref('.info/connected')
        .on('value',function(snap){
          if (snap.val() === true) {
            this.set('onlineState', true);
            this.closeToast();
          } else {
            this.set('onlineState', false);
            this.openToast("Conectando...");
          }
        }, this);//<!--}}}-->
      },//<!--}}}-->
      _showToast: function(e, message){
        // console.log
        this.openToast(message);
      },
      openToast: function(message){
        this.set('toastMessage', message);
        this.$.toast.open();
      },

      closeToast: function(){
        this.$.toast.close();
      },

      userChanged: function(user){//{{{
        if(user){
          // Abre dialog pra inserir Cref se ainda não tem. {{{
          firebase.database().ref('trainer/'+user.uid + '/perfil/cref').once('value', function(snap){
            if(!snap.exists()){
              this.$$('paper-dialog#cref').open();
            }
          }, this); //}}}
        }
      },//}}}

      registerCref: function(){//{{{
        var newData = {};
        newData.cref = this.cref;
        firebase.database().ref('trainer/' + this.user.uid + '/perfil').update(newData);
      },//}}}

      _routePageChanged: function(page){//{{{
        this.page = page || 'users';
      },//}}}

      _pageChanged: function(page, user){//{{{
        if(!this.logged) return; // Se usuário não está logado essa função não terá efeito.

        var url = '';

        console.log("page", page);

        // Bloqueia usuários inativos, ou seja, redireciona para outra página. {{{
        var checkIfBlocked = notBoundCheckIfBlocked.bind(this)
        function notBoundCheckIfBlocked(){
          firebase.database().ref('trainer/'+this.user.uid+'/perfil')
          .once('value', function(snap){
            var crefNotValid = snap.val()['cref-status'] == 'Inativo';// Bloqueia se cref inativo.
            var notPaying = snap.val()['payment-status'] == 'Irregular';// Sem pagar só se tiver em período de teste.
            var notTesting = snap.val()['test-until'] ? moment().isAfter(snap.val()['test-until']) : true;
            if(crefNotValid || (notPaying && notTesting)){
              this.set('routeData.page', 'inactive');
            }
          }, this);
        }//}}}

        // Load page import on demand.
        if(this.page == "users"){
          checkIfBlocked()
          url = this.resolveUrl('users-view/users-view.html');
        }else if(this.page == "user"){
          checkIfBlocked()
          url = this.resolveUrl('user-view/user-view.html');
        }else if(this.page == "account"){
          url = this.resolveUrl('account/account-view.html');
        }else if(this.page == "programs"){
          url = this.resolveUrl('programs-view/programs-view.html');
        }else if(this.page == "program"){
          checkIfBlocked()
          url = this.resolveUrl('programs-view/program-view.html');
        }else if(this.page == "training"){
          checkIfBlocked()
          url = this.resolveUrl('programs-view/training-view.html');
        }else if(this.page == "dashboard"){
          url = this.resolveUrl('dashboard/dashboard-view.html');
        }else if(this.page == "inactive"){
          url = this.resolveUrl('inactive/inactive-view.html');
        }else{
          console.error('Não sei que página é essa:', this.page);
          this.set('page', 'users');
          checkIfBlocked()
          url = this.resolveUrl('users-view/users-view.html');
        }
        this.currentPage = pageNamesTranslated[this.page] || this.page;
        this.importHref(url, null, null, true);
      }//}}}
    });
  </script>
</dom-module>
