<!-- Imports go here -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymerfire/polymerfire.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="payments/payments-view.html">

<dom-module id="account-view">
  <template>
    <style>
      a{
        color: inherit;
        text-decoration: none;
      }
      paper-listbox{
        padding: 0;
      }
      paper-icon-item{
        cursor: pointer;
        border-bottom: 1px solid #ccc;
      }
      .avatar {
        display: inline-block;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #3bbab5;
      }
      .blue {
        background-color: var(--paper-light-blue-300);
      }
    </style>

    <!-- Element DOM starts here -->
    <app-route
      route="{{route}}"
      pattern="/:page"
      active="{{routeActive}}"
      data="{{routeData}}"
      tail="{{routetail}}"
    ></app-route><!--}}}-->

    <iron-pages selected="[[page]]" attr-for-selected="name" selected-attribute="activated">
      <div name="main"><!-- {{{ -->
        <paper-listbox>
          <!-- Profile -->
          <paper-icon-item>
            <iron-icon icon="icons:account-circle" item-icon>
            </iron-icon>
            <paper-item-body two-line>
              <div>{{displayName}}</div>
              <div secondary>{{email}}</div>
            </paper-item-body>
          </paper-icon-item>

          <!-- Payment -->
          <a href="/account/payments">
            <paper-icon-item>
              <iron-icon icon="icons:payment" item-icon>
              </iron-icon>
              <paper-item-body>
                <div>Pagamento</div>
              </paper-item-body>
            </paper-icon-item>
          </a>

          <!-- Terms -->
          <a href="http://periodiza.com/tos.html">
            <paper-icon-item>
              <iron-icon icon="icons:info" item-icon>
              </iron-icon>
              <paper-item-body>
                <div>Termos de Uso</div>
              </paper-item-body>
            </paper-icon-item> 
          </a>
          <!-- Log Out -->
          <paper-icon-item on-tap="logout">
            <iron-icon icon="icons:exit-to-app" item-icon>
            </iron-icon>
            <paper-item-body>
              <div>Sair</div>
            </paper-item-body>
          </paper-icon-item>
        </paper-listbox>
      </div> <!-- }}} -->

      <payments-view name="payments"></payments-view>
    </iron-pages>
  </template>

  <script>
    Polymer({
      is: 'account-view',

      properties: {
        displayName: String,
        email: String,
        photo: String,
        page: String,
      },

      observers: ['pageChanged(routeData.page)', 'pageChanged(routeActive)'],

      // observers: ['userChanged(user)'],

      // userChanged: function(user){
      //   // this.user = {};
      //   this.name= user.displayName;
      //   this.email= user.email;
      //   this.photoURL= user.photoURL;
      // }

      pageChanged: function(){//{{{
        if(!this.routeActive){
          this.set('page', 'main');
        }else{
          this.set('page', this.routeData.page);
        }
      },//}}}

      logout: function(){//{{{
        firebase.auth().signOut().then(function(){
          console.log("logged out");
        }, function(error){
          alert(error);
        });
      },//}}}
    });
  </script>
</dom-module>
