<!-- Imports {{{ -->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="login/login-view.html">
<link rel="import" href="register/register-view.html">
<!-- }}} -->

<dom-module id="auth-views">
<template><!--{{{-->
  <style include="iron-flex iron-flex-alignment">/*{{{*/
    .splash{
      margin: 12px auto;
      padding: 24px;
      max-width: 400px;
    }
    .centered-text{
      text-align: center;
      color: #555555;
      font-weight: 300;
    }
    paper-progress {
      --paper-progress-active-color: var(--app-primary-color);
      --paper-progress-secondary-color: var(--app-secondary-color);
      width: inherit;
    }
    .tos{
      color: #555;
      font-weight: 300;
      font-style: italic;
      font-size: smaller;
    }
    .tos a{
      color: var(--app-primary-color);
      text-decoration: none;
    }
  </style><!--}}}-->

  <!-- App Route {{{ -->
  <app-route
    route="{{route}}"
    pattern="/:page"
    data="{{routeData}}"
    tail="{{routetail}}"
  ></app-route><!--}}}-->

  <paper-card class="layout vertical splash"><!--{{{-->
    <div class="layout vertical center-center"><!--{{{-->
      <iron-image src="/images/manifest/icon-144x144.png"></iron-image>
      <p class="centered-text"> Fortaleça sua prescrição de treino com Periodiza </p>

      <iron-pages class="self-stretch" selected="[[page]]" attr-for-selected="name" selected-attribute="activated"><!--{{{-->
        <login-view name="login" logged="{{logged}}" loading="{{isLoading}}"></login-view>
        <register-view name="register"></register-view>
        <paper-progress name="loading-bar" class="layout self-center" indeterminate></paper-progress>
      </iron-pages><!--}}}-->

    </div><!--}}}-->
    <hr>
    <p class="tos">Ao criar uma conta, você indica que concorda com os nossos <a href="http://periodiza.com/tos.html">Termos de Uso</a>.</p>
  </paper-card><!--}}}-->

</template><!--}}}-->

  <script>/*{{{*/
    Polymer({
      is: 'auth-views',

      properties: {//{{{
        logged: Boolean,
        loading: Boolean,
      },//}}}

      observers: ['pageChanged(routeData.page)', 'pageChanged(loading)', 'pageChanged(logged)'],

      pageChanged: function(){//{{{
        if(this.logged){// Usuário logado, só falta carregar o app.
          this.set('page', 'loading-bar');
        }else if(this.loading){// Não tenho certeza se o usuário está logado, esperando resposta.
          this.set('page', 'loading-bar');
        }else if(this.routeData && this.routeData.page && this.routeData.page == 'register'){// Usuário não está logado, mostrar opção de login ou cadastro.
          this.set('page', 'register');
        }else{
          this.set('page', 'login');
        }
      },//}}}
    });
  </script><!--}}}-->
</dom-module>

