<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymerfire/polymerfire.html">

<dom-module id="auth-manager">
  <template>

    <!-- Inicia o elemento Firebase. Uma outra inicialização é feita para a sdk javascript. -->
    <firebase-app
      name="periodiza"
      api-key="{{firebaseApiKey}}"
      auth-domain="{{firebaseAuthDomain}}"
      database-url="{{firebaseDatabaseURL}}"
    ></firebase-app>

  </template>

  <script>
  // Inicialização do firebase pelo javascript. {{{
  try{
    firebase.app();
  }catch(e){
    // Prod config
    var apiKey = 'AIzaSyClZeiuWT57bAuLX440PBRhrpCcRwYI9Vc';
    var authDomain = 'periodiza-dad.firebaseapp.com';
    var databaseURL = 'https://periodiza-dad.firebaseio.com';

    firebase.initializeApp({
      apiKey: apiKey,
      authDomain: authDomain,
      databaseURL: databaseURL
    });
  }// }}}

  Polymer({
    is: 'auth-manager',

    properties: {//{{{
      page: {
        type: String,
        reflectToAttribute: true,
        observer: '_pageChanged'
      },
      isLoading: {
        type: Boolean,
        notify: true,
        value: true
      },
      logged: {
        type: Boolean,
        notify: true,
        value: function(){return false}
      },
      user: {
        type: Object,
        notify: true
      },
    },//}}}

    ready: function(){//{{{
      firebase.auth().onAuthStateChanged(function(user){
        this.set('isLoading', false)
        if(user){
          this.set('logged', true)
          this.set('user', user)
          this.fire('callpagechanged'); //Chama funcão para carregar view no periodiza-app.
          console.log("authChanged", user);

          //Checa se é admim para excluir do report.{{{
          var adminsIds = [
            'GMVzSvEzBCfpUN85EOGPuMsmkO23',// Polachini
            'onhO12qTp8TitOA9u7oNheAuOOo2', // Jp
            '11doHDlV0ENEepQHyJWGjoXRuzA2', // Takata
            '80h5BBEDBtdeQzZlrZpGzHX0eUO2', // Pedro
            'Q4jDb5TiZTbi9rv5Q7ALWArYfIq2' // Giovanni
          ];
          var isAdmin = adminsIds.includes(user.uid)
          dataLayer.push({'event':'loggedIn', 'userId': user.uid, 'isAdmin': isAdmin})//}}}

          // Fornece período de teste para usuários acessando pela primeira vez. {{{
          firebase.database().ref('trainer/'+user.uid+'/perfil').once('value', function(snap){
            if(!snap.exists() || !snap.val()['test-until']){
              firebase.database().ref('trainer/'+user.uid+'/perfil/test-until')
              .set(moment().add(16, 'days').valueOf())
              firebase.database().ref('trainer/'+user.uid+'/perfil/allowed-clients-number')
              .set(2)
            }
          }); //}}}

          // Salva nome fornecido pelo provider se ainda não tem. {{{
          firebase.database().ref('trainer/'+user.uid+'/perfil/name').once('value', function(snap){
            if(!snap.exists() && user.displayName){
              firebase.database().ref('trainer/'+user.uid+'/perfil').update({name: user.displayName})
            }
          }, this); //}}}

        }else{
          this.set('logged', false)
          this.set('user', null)
          console.log("authChanged noUser");
        }
      }.bind(this));
    },//}}}
  });
  </script>
</dom-module>
